
.img-box{
  position: relative;
}
.m-none{
  margin:0 !important;
}

.m-34{
  margin-bottom: 34px;
}
.m-55{
  margin-bottom: 55px;
}
.m-89{
  margin-bottom: 89px;
}
.m-144{
  margin-bottom: 144px;
}
.m-233{
  margin-bottom: 233px;
}


.m-20{
  margin-bottom: 20px;
}
.m-55{
  margin-bottom: 55px;
}
.m-75{
  margin-bottom: 75px !important;
}
.m-144{
  margin-bottom: 144px;
}
.m-233{
  margin-bottom: 233px;
}


.text{
  font-size: 16px;
  font-family: "NotoSans-Regular", "NotoSansGeorgian-Regular";
  color: #020230;
}

.c-white{
  color: #fff;
}
.c-blue{
  color: #020230;
}


.img-layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-color: #020230;
}
.img-absolute{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
}


/*out clients*/
.sass_partner_logo_area.ourClients {
  position: relative;
  background: #020230;
}
.sec_pad.ourClients {
  padding: 66px 0px 73px;
}
@media(max-width: 767px){
  .sec_pad.ourClients{
    padding: 40px 0;
  }
}
.partner_logo_area_five {
  position: relative;
  padding: 66px 0px 73px;
  background-color: #020230;
}
.partner_info {
  text-align: center;
  justify-content: center;
}
.partner_info .logo_item {
  width: calc(100% / 4);
  margin-bottom: 40px;
  align-self: center;
}
.partner_info .logo_item img {
  max-width: 100%;
  max-height: 80px;
  opacity: 0.3;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media(min-width: 1024px){
  .partner_info .logo_item img:hover{
    opacity: 1;
  }
}
/*changes*/
.sass_partner_logo_area.ourClients  .text{
  max-width: 570px;
  margin: 0 auto;
  margin-bottom: 75px;
  color: #fff;
}
.dots-1{
  position: absolute;
  bottom: 40%;
  left: 228px;
}
.dots-1 > div{
  display: block;
  width: 5px;
  height: 5px;
  background-color: #8E70EE;
  border-radius: 5px;
  margin-bottom: 4px;
}
.dots-1 > div:nth-child(2){
  opacity: 0.5;
}
.dots-1 > div:nth-child(3){
  margin-bottom: 0;
  opacity: 0.2;
}


.dots-2{
  position: absolute;
  top: 46px;
  left: calc(50% - 2px);
}
.dots-2 > div{
  display: block;
  width: 5px;
  height: 5px;
  background-color: #F72585;
  border-radius: 5px;
  margin-bottom: 4px;
}
.dots-2 > div:nth-child(2){
  opacity: 0.5;
}
.dots-2 > div:nth-child(3){
  margin-bottom: 0;
  opacity: 0.2;
}

.dots-3{
  position: absolute;
  top: 37%;
  right: 228px;
}
.dots-3 > div{
  display: block;
  width: 5px;
  height: 5px;
  background-color: #4CC9F0;
  border-radius: 5px;
  margin-bottom: 4px;
}
.dots-3 > div:nth-child(2){
  opacity: 0.5;
}
.dots-3 > div:nth-child(3){
  margin-bottom: 0;
  opacity: 0.2;
}

@media(max-width: 1900px){
  .dots-2 {
    position: absolute;
    top: 35px;
  }
  .dots-1{
    left: 150px;
  }
  .dots-3{
    right: 150px;
  }
}
@media(max-width: 1365px){
  .dots-1{
    left: 40px;
  }
  .dots-3{
    right: 40px;
  }
}
@media(max-width: 1023px){
  .partner_info .logo_item img{
    opacity: 1;
  }
}
@media(max-width: 767px){
  .dots-1, .dots-2, .dots-3{
    display: none;
  }
  .sass_partner_logo_area.ourClients .text{
    margin-bottom: 30px;
  }
}


/*Use Cases*/
.h_analytices_features_item.useCases + .h_analytices_features_item.useCases {
  border-top: 1px solid #fff;
}
.h_analytices_features_item.useCases {
  position: relative;
  padding: 125px 0 0;
}
@media(max-width: 1023px ){
  .h_analytices_features_item.useCases {
    position: relative;
    padding: 80px 0px;
  }
}
@media(max-width: 767px ){
  .h_analytices_features_item.useCases {
    position: relative;
    padding: 60px 0px;
  }
}
.h_analytices_features_item.useCases .container{
  position: relative;
}
.h_analytices_features_item.useCases img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.h_analytices_features_item.useCases .h_analytices_content .ttl{
  margin-top: 0;
  margin-bottom: 40px;
}
.h_analytices_features_item.useCases .h_analytices_content ul {
  margin-bottom: 0;
  padding-top: 0;
}
.h_analytices_features_item.useCases .h_analytices_content ul li {
  font-size: 21px;
  line-height: 26px;
  font-family: "NotoSans-Regular", "NotoSansGeorgian-Regular";
  color: #020230;
  position: relative;
  padding-left: 20px;
  margin-top: 7px;
  transition: all 0.3s linear;
  cursor: pointer;
  margin-bottom: 0;
}
.h_analytices_features_item.useCases .h_analytices_content ul li:first-child{
  margin-top: 0;
}
.h_analytices_features_item.useCases .h_analytices_content ul li:before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #8E70EE;
  position: absolute;
  left: 0;
  top: 8px;
  transition: all 0.3s linear;
  margin-top: 0;
}
.h_analytices_features_area .er_btn {
  margin-top: 20px;
  border-color: #4e78f4;
}
.er_btn {
  border: 2px solid #8E70EE;
  font-size: 14px;
  font-family: "NotoSans-SemiBold", "NotoSansGeorgian-SemiBold";
  color: #020230;
  border-radius: 45px;
  line-height: 26px;
  padding: 8px 27px;
  display: inline-block;
  margin-top: auto;
  transition: all 0.3s linear;
  margin-top: 38.5px;
}
@media(max-width: 1023px){
  .er_btn:hover{
    text-decoration: none;
    color: #020230;
  }
}

@media(min-width: 1024px){
  .er_btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: #8E70EE;
  }
  .h_analytices_features_item.useCases .h_analytices_content ul li:hover{
    color: #F72585;
  }
  .h_analytices_features_item.useCases .h_analytices_content ul li:hover:before{
    background: #F72585;
  }
}
.sec_title .text {
  max-width: 570px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.h_analytices_features_item.useCases .img-box{
  width: 100%;
  padding-top: 62.5%;
  position: relative;
  border-radius: 29px;
  overflow: hidden;
}
.img-box > img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.useCases .h_analytices_content{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 0;
}
@media(max-width: 1023px){
  .useCases .h_analytices_content{
    padding-right: 0;
    height: auto;
  }
}
.h_analytices_features_item.useCases .ttl{
  color: #8E70EE;
  margin-bottom: 7px;
  margin-top: 27.5px;
}
.h_analytices_content .ttl{
  margin-bottom: 39px;
  margin-top: 0;
  color: #020230;
}
.h_analytices_content > div:last-child{
  margin-top: auto;
}

@media(max-width: 1023px){
  .h_analytices_features_item.useCases{
    padding: 89px 0 0;
  }
}
@media(max-width: 767px){
  .h_analytices_features_item.useCases{
    padding: 55px 0 0;
  }
  .sec_title .text{
    margin-bottom: 40px;
  }
  .h_analytices_features_item.useCases .h_analytices_content .ttl{
    margin-bottom: 30px;
  }
  .h_analytices_features_item.useCases .h_analytices_content ul li{
    font-size: 16px;
    margin-top: 3px;
  }
}


/*use cases inner*/

.breadcrumb_area {
  position: relative;
  z-index: 1;
  padding-top: 31.25%;
  margin-top: 0 !important;
}
.sec_pad.useCasesInner {
  padding:66px 0 142.5px;
}
@media(max-width: 1023px){
  .sec_pad.useCasesInner {
    padding:66px 0 80px;
  }
}
@media(max-width: 767px){
  .sec_pad.useCasesInner {
    padding:55px 0 55px;
  }
}
.useCases .sec_pad h1{
  margin-top: 66px;
  margin-bottom: 33px;
}
.details_content .text{
  margin: 0;
  max-width: 100%;
}

.job_info {
  border: 1px solid #C3C3CF;
  border-radius: 29px;
  background-color: white;
  margin-top: 12px;
  padding: 29px 40px 42px 37.5px;
}
.job_info .info_head {
  border-bottom: 1px solid #ADADB8;
  padding-bottom: 24px;
  cursor: pointer;
}
.job_info .info_head .ttl{
  margin-left: 10px;
  margin-bottom: 0;
}
.job_info .info_head circle{
  transition: 0.6s;
}
@media(min-width: 1024px){
  .job_info .info_head:hover svg g > circle:first-child{
    fill: #4E17FF;
  }
}

.job_info .info_item {
  position: relative;
  padding-left: 30px;
  margin-top: 25px;
}
.service_details_area .job_info .info_item {
  padding-left: 0px;
}
.job_info .info_item .ttl{
  margin-bottom: 15px;
}
.job_info .info_item img{
  max-width: 80px;
  max-height: 60px;
}
.job_info .info_item:nth-child(3){
  display: flex;
  align-items: center;
  margin-top: 36.5px;
}
.job_info .info_item:nth-child(3) .ttl{
  margin-bottom: 0;
  margin-right: 5px;
}
.job_info .info_item:nth-child(3) a{
  color: #020230;
  text-decoration: underline;
  transition: 0.6s;
}
@media(min-width: 1024px){
  .job_info .info_item:nth-child(3) a:hover{
    color: #F72585;
  }
}
.job_info .info_item:nth-child(4) .item{
  display: flex;
  align-items: center;
}
.job_info .info_item:nth-child(4) .item:last-child{
  margin-top: 28px;
}
.job_info .info_item:nth-child(4) .item svg{
  flex:none;
  margin-right: 11px;
}
.job_info .info_item:nth-child(4) .item span{
  margin-bottom: 0;
}

.job_info .info_item:nth-child(5){
  display: flex;
  align-items: center;
}
.job_info .info_item:nth-child(5) .ttl{
  margin-bottom: 0;
  margin-right: 15px;
}
.job_info .info_item:nth-child(5)  .soc{
  display: flex;
  align-items:center;
}
.job_info .info_item:nth-child(5) .soc a{
  display: flex;
  flex: none;
  margin-right: 10px;
}
.job_info .info_item:nth-child(5) .soc a:last-child{
  margin-right: 0;
}
.job_info .info_item:nth-child(5) path{
  transition: 0.6s;
}
@media(min-width: 1024px){
  .job_info .info_item:nth-child(5) .soc a:hover path{
    fill: #F72585;
  }
}
.job_info .info_item:last-child{
  margin-top: 38px;
  padding-top: 37px;
  border-top: 1px solid #ADADB8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job_info .info_item:last-child a{
  display: flex;
  align-items: center;
  color: #020230;
  transition: 0.6s;
}
.job_info .info_item:last-child a span{
  transition: 0.6s;
}
.job_info .info_item:last-child a:first-child svg{
  margin-right: 6px;
}
.job_info .info_item:last-child a:last-child svg{
  margin-left: 6px;
}
.job_info .info_item:last-child a line{
  transition: 0.6s;
}
@media(min-width: 1024px){
  .job_info .info_item:last-child a:hover line{
    stroke: #F72585;
  }
  .job_info .info_item:last-child a:hover{
    color: #F72585;
  }
  .job_info .info_item:last-child a:hover span{
    color: #F72585;
  }
}

.job_info .info_item:last-child .line{
  width: 1px;
  height: 22px;
  background-color: #020230;
}

.page-useCase .h_analytices_features_item.useCases{
  padding-bottom: 144.5px;
} 
@media (max-width: 1023px){
  .page-useCase .h_analytices_features_item.useCases{
    padding-bottom: 89px;
  } 
}
@media (max-width: 767px){
  .page-useCase .h_analytices_features_item.useCases{
    padding-bottom: 55px;
  } 
}


/*FAQ*/
.breadcrumb_area.faq{
  position: relative;
  padding: 195px 0;
}
.breadcrumb_area.faq img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.breadcrumb_area.faq .container{
  position: relative;
}
.breadcrumb_area.faq h1{
  color: #fff;
  margin-bottom: 27px;
}
.breadcrumb_content .input-wrap{
  position: relative;
  width: 100%;
}
.breadcrumb_content input{
  position: relative;
  min-width: 100%;
  max-width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  border: none;
  padding: 0 50px 0 36px;
  font-size: 16px;
  font-family: "NotoSans-SemiBold", "NotoSansGeorgian-SemiBold";
  color: #020230;
  border-radius: 30px;
  background-color: #fff;


  box-shadow: none !important;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: linear-gradient(transparent, transparent);
}

/*input style*/
.breadcrumb_content input::-webkit-input-placeholder {
  /* Edge */
  font-size: 16px;
  font-family: "NotoSans-SemiBold", "NotoSansGeorgian-SemiBold";
  color: #020230;
  opacity: 1;
}
.breadcrumb_content input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 16px;
  font-family: "NotoSans-SemiBold", "NotoSansGeorgian-SemiBold";
  color: #020230;
  opacity: 1;
}
.breadcrumb_content input::placeholder {
  font-size: 16px;
  font-family: "NotoSans-SemiBold", "NotoSansGeorgian-SemiBold";
  color: #020230;
  opacity: 1;
}
.breadcrumb_content .input-wrap svg{
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}
@media(max-width: 1023px){
  .breadcrumb_area.faq{
    padding: 120px 0;
  }
}





.page-faq .sec_pad {
  padding: 87px 0px 77px;
}
.faq_tab {
  border: 1px solid #C3C3CF;
  border-radius: 29px;
  background-color: white;
  /*box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);*/
  padding: 33px 40px 21px 40px;
}
.faq_tab .nav-tabs {
  border: 0px;
  margin-bottom: 0px;
  display: block;
}
.faq_tab .nav-item {
  margin: 0px;
}
.faq_tab .nav-item .nav-link.active {
  color: #F72585;
}
.faq_tab .nav-item .nav-link {
  color: #677294;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  display: inline-block;
  position: relative;
  margin-bottom: 11px;
  transition: 0.6s;
}
@media(min-width: 1024px){
  .faq_tab .nav-item .nav-link:hover{
    color: #F72585;
  }
}
.faq_tab .ttl{
  margin-bottom: 20px;
}
.faq_tab .top{
  padding-bottom: 17px;
  margin-bottom: 11px;
  border-bottom: 1px solid #ADADB8;
} 
.faq_tab .top span{
  color: #8E70EE;
  text-transform: uppercase;
  text-decoration: underline;
}
.contact-tab{
  padding: 35px 40px 50px 40px;
  background-color: #F5F5F5;
  border-radius: 29px;
  margin-top: 34px;
}
.contact-tab .ttl{
  margin-bottom: 20px;
}
.contact-tab .subtitle{
  color: #8E70EE;
  /*margin-bottom: 10px;*/
}
.contact-tab .details{
  display: flex;
  margin-bottom: 26px;
}
.contact-tab .details span:first-child{
  margin-right: 5px;
}
.contact-tab  a{
  display: block;
  color: #020230;
  transition: 0.6s;
}
.contact-tab  a:hover{
  text-decoration: none;
}
@media(min-width: 1024px){
  .contact-tab  a:hover{
    color: #F72585;
    text-decoration: none;
  } 
}


.page-faq .faq_content .ttl{
  margin-bottom: 30px;
}
.page-faq .faq_content .tab-pane .card {
  border: 0px;
  border-radius: 0px;
  background: transparent;
  border-bottom: none;
}
.page-faq .faq_content .tab-pane .card .card-header {
  padding: 0px;
  border: 0px;
  background: transparent;
}

.page-faq .faq_content .tab-pane .card .card-header .btn {
  color: #8E70EE;
  display: block;
  width: 100%;
  text-align: left;
  font-family: "NotoSans-Bold", "NotoSansGeorgian-Bold";
  font-size: 16px;
  padding: 19px 30px 19px 0px;
  position: relative;
  white-space: normal;
  text-decoration: none;
  transition: 0.6s;
  border-bottom: 1px solid transparent;
}

.page-faq .faq_content .tab-pane .card .card-header .btn.collapsed {
  color: #020230;
  border-bottom: 1px solid #ADADB8;
}
.page-faq .faq_content .tab-pane .card .card-body {
  padding: 0px 0px 20px;
  font-family: "NotoSans-Regular", "NotoSansGeorgian-Regular";
  color: #020230;
  font-size: 16px;
}
.page-faq .faq_content .tab-pane .card .card-header .btn svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.page-faq .faq_content .tab-pane .card .card-header .btn svg:first-child{
  display: block;
}
.page-faq .faq_content .tab-pane .card .card-header .btn svg:last-child{
  display: none;
}
.page-faq .faq_content .tab-pane .card .card-header .btn.collapsed svg:first-child {
  display: none;
}
.page-faq .faq_content .tab-pane .card .card-header .btn.collapsed svg:last-child {
  display: block;
}
@media(max-width: 1023px){
  .page-faq .faq_content{
    margin-top: 30px;
  }
}

@media(max-width: 1900px){
  .breadcrumb_area.faq{
    padding: 150px 0;
  }
}
@media(max-width: 1365px){
  .breadcrumb_area.faq{
    padding: 100px 0;
  }
}
@media(max-width: 767px){
  .page-faq .sec_pad {
    padding: 55px 0px 55px;
  }
}


/*start of tutorials*/

.page-tutorials .sec_pad {
  padding: 87px 0px 129px;
}
.page-tutorials .faq_tab .top span{
  color: #020230;
  text-decoration: none;
}


.faq_tab .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
}
.faq_tab .card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: none;
}
.faq_tab .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0;
}
.faq_tab .btn-link.collapsed{
  color: #020230;
  text-decoration: none;
}
.faq_tab .btn-link{
  font-weight: normal;
  font-size: 16px;
  background-color: transparent;
  font-family: "NotoSans-Regular", "NotoSansGeorgian-Regular";
  padding: 0;
  text-transform: none;
  color: #8E70EE;
  text-decoration: underline;
}

.faq_tab .card-body{
  display: flex;
  flex-direction: column;
}
.faq_tab .card-body a{
  position: relative;
  margin-bottom: 11px;
  color: #020230;
  transition: 0.6s;
  padding-left: 11px;
}
.faq_tab .card-body a:before{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: #8E70EE;
  border-radius: 50%;

}
.faq_tab .card-body a:last-child{
  margin-bottom: 20px;
}
.faq_tab .card-body a:first-child{
  margin-top: 20px;
}
.faq_tab .card-body a.active{
  color:  #8E70EE;
  text-decoration: underline !important;
}
@media(min-width: 1024px){
  .faq_tab .card-body a:hover{
    color:  #8E70EE;
    text-decoration: underline !important;
  }
  
}
@media(max-width: 1023px){
  .page-tutorials .col-lg-8{
    margin-top: 30px;
  }
}

@media(max-width: 767px){
  .page-tutorials .sec_pad {
    padding: 55px 0px 55px;
  }
}
.c-violet{
  color: #8E70EE;
}
.page-tutorials .col-lg-8 img{
  display: block;
  max-width: 100%;
  height: auto;
}


/*Solution*/
.perfect_solution_area.solution{
  position: relative;
  display: flex;
  overflow: hidden;
  padding-top: 166.5px;
  padding-bottom: 142px;
}
.perfect_solution_area.solution > img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.perfect_solution_area.solution .right {
  position: relative;
}
.perfect_solution_area.solution .img-box{
  padding-top: 88%;
}

.perfect_solution_area.solution .left {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start;
}
.perfect_solution_area.solution .left .ttl{
  margin-top: 55px;
  margin-bottom: 24px;
}
.perfect_solution_area.solution .left .btn-wrap{
  display: flex;
  margin-top: 44px;
}

.software-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 46px;
  padding: 0px 42px;
  border:2px solid #8E70EE;
  border-radius: 23px;
  overflow: hidden;
  transition: 0.6s;
}
.software-btn span{
  transition: 0.6s;
}
.perfect_solution_area.solution .left .software-btn{
  margin-right: 10px;
}

.hardware-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 46px;
  padding: 0px 42px;
  border:2px solid #F72585;
  border-radius: 23px;
  overflow: hidden;
  transition: 0.6s;
}
.hardware-btn span{
  transition: 0.6s;
}

@media(min-width: 1024px){
  .software-btn:hover{
    background-color: #8E70EE;
  }
  .software-btn:hover span{
    color: #fff;
  }

  .hardware-btn:hover{
    background-color: #F72585;
  }
  .hardware-btn:hover span{
    color: #fff;
  }
}

@media(max-width: 1023px){
  .perfect_solution_area.solution {
    display: flex;
    overflow: hidden;
    padding-top: 89px;
    padding-bottom: 89px;
  }
  .perfect_solution_area.solution .img-box {
    padding-top: 73%;
  }
}
@media(max-width: 767px){
  .perfect_solution_area.solution {
    display: flex;
    overflow: hidden;
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .perfect_solution_area.solution .left .btn-wrap{
    flex-direction: column;
  }
  .perfect_solution_area.solution .left .software-btn{
    margin-right: 0;
    margin-bottom: 10px;
  }
}


/*use cases page*/
.page-useCases .sec_pad.ourClients {
  padding: 82px 0px 46px;
}


/*partners in parners*/

.sass_partner_logo_area.sec_pad.page-partners.ourClients{
  padding: 62px 0 58px;
}
.sass_partner_logo_area.sec_pad.page-partners.ourClients span{
  display: block;
  margin-bottom: 12px;
  color: #fff;  
}