body{
  overflow-x: hidden; 
}

/*ზოგადი*/
.all-btn{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.all-btn > span{
  font-family: "NotoSans-Bold", "NotoSansGeorgian-Bold";
  transition: 0.6s;
  margin-right: 15px;
}
@media(min-width: 1024px){
  .all-btn:hover > span{
    color: #EE2A7B;
  }
}
@media(max-width: 1023px){
  .all-btn > span{
    font-size: 13px;
  }
}


.img-layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.6s;
}



/*start of subMenu*/
.sub-menu{
  
}
.sub-menu > .container > .ttl{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-menu > .container > .text{
  text-align: center;
  margin-top: 15px;
}

.swiper-subMenu .swiper-wrapper{
  margin-top: 90px;
}
.swiper-subMenu .swiper-slide{
  cursor: pointer;
  overflow: hidden;
}
.swiper-subMenu .swiper-slide:first-child{
  margin-top: 0!important;
}
.swiper-subMenu .swiper-slide:nth-child(even){
  margin-top: 115px;
}
.swiper-subMenu .swiper-slide:nth-child(odd){
  margin-top: 60px;
}


.swiper-subMenu .img-box{
  position: relative;
  padding-top: 119%;
  border-radius: 8px;
}
.swiper-subMenu .img-layer{
  background-color: #292562;
  opacity: 0;
  transition: 0.6s;
  border-radius: 8px;
}
.swiper-subMenu img{
  border-radius: 8px;
}
.swiper-subMenu .menu-list{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  padding: 35px 50px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.swiper-subMenu .menu-list-inner{
  opacity: 0;
  transition:0.6s;
}
.swiper-subMenu .menu-list .ttl{
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.6s;
}
.swiper-subMenu .menu-list:before{
  position: absolute;
  display: block;
  content: '';
  bottom:  -63px;
  left: 30px;
  height: calc(100% - 35px - 26px - 20px + 63px);
  width: 3px;
  border-radius: 10px;
  background-color: #EE2A7B;
  transition: 0.6s;
  transition-timing-function: cubic-bezier(0.4, 0.01, 0.1, 0.99);
  transform: translateY(100%);
}
.swiper-subMenu .menu-item{
  display: flex;
  text-align: left;
  position: relative;
  padding-left: 17px;
  margin-top: 1px;
}
.swiper-subMenu .menu-item svg{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) scale(0);
  transition: 0.6s;
  backface-visibility: hidden;
}
.swiper-subMenu .menu-item svg:nth-child(2){
  opacity: 0;
}
.swiper-subMenu .menu-item a{
  display: inline-block;
  color: #fff;
  transition: 1s;
  opacity: 0;
  text-decoration: none;
  transition-timing-function: cubic-bezier(0.4, 0.01, 0.1, 0.99);
  pointer-events: none;
}
.swiper-subMenu .hovered .menu-item a{
  transition-delay: 0s !important;
}

.swiper-subMenu .subtitle{
  display: flex;
  align-items: stretch;
  text-align: left;
  margin-top: 35px;
  margin-left: 30px;
}
.swiper-subMenu .subtitle div:first-child{
 width: 3px;
 background-color: #EE2A7B;
 border-radius: 10px;
 flex: none;
}
.swiper-subMenu .subtitle div:last-child{
  margin-left: 17px;
  transition: 0.6s;
  padding-right: 20px;
}


 .swiper-subMenu .swiper-slide:hover .img-layer{
  opacity: 0.7;
 }
 .swiper-subMenu .swiper-slide:hover .menu-list-inner{
  opacity: 1;
 }
 .swiper-subMenu .swiper-slide:hover .ttl{
  opacity: 1;
  transform: translateY(0);
 }
 .swiper-subMenu .swiper-slide:hover .subtitle div:last-child{
  transform: translateY(-7px);
 }
 .swiper-subMenu .swiper-slide:hover .menu-list:before{
   transform: translateY(0%);
 }
 .swiper-subMenu .swiper-slide:hover .menu-item a{
  transform: translateX(0px) !important;
  opacity: 1;
 }
 .swiper-subMenu .swiper-slide.hovered .menu-item a{
  pointer-events: all;
 }
 .swiper-subMenu .swiper-slide:hover .menu-item svg{
  transform: translateY(-50%) scale(1);
 }
 .swiper-subMenu .menu-item:hover a{
  margin-left: 5px;
  transition-delay: 0s !important;
  text-decoration: underline;
 }
 .swiper-subMenu .menu-item:hover svg:nth-child(2){
  opacity: 1;
 }





@media(max-width: 1900px){
}
@media(max-width: 1679px){
  .swiper-subMenu .img-box {
    padding-top: 103.4%;
  }
  .swiper-subMenu .swiper-wrapper{
    margin-top: 70px;
  }
  .swiper-subMenu .swiper-slide:nth-child(even){
    margin-top: 105px;
  }
  .swiper-subMenu .swiper-slide:nth-child(odd){
    margin-top: 50px;
  }
  .swiper-subMenu .subtitle{
    margin-top: 21px;
    margin-left: 19px;
  }
  .swiper-subMenu .subtitle div:last-child{
    margin-left: 14px;
  }
  .swiper-subMenu .menu-list{
    padding: 20px 37px;
  }
  .swiper-subMenu .menu-list:before{
    left: 19px;
    height: calc(100% - 20px - 28px - 20px + 46px);
    bottom: -46px;
  }
}
@media(max-width: 1365px){
  .swiper-subMenu .swiper-slide:nth-child(even){
    margin-top: 80px;
  }
  .swiper-subMenu .swiper-slide:nth-child(odd){
    margin-top: 40px;
  }
  .swiper-subMenu .subtitle{
    margin-top: 20px;
    margin-left: 15px;
  }
  .swiper-subMenu .subtitle div:last-child{
    margin-left: 11px;
  }
  .swiper-subMenu .menu-list{
    padding: 20px 30px;
  }
  .swiper-subMenu .menu-list:before{
    left: 15px;
    height: calc(100% - 20px - 18px - 10px + 38px);
    bottom: -38px;
  }

  .swiper-subMenu .subtitle div:last-child{
    font-size: 13px;
  }
  .swiper-subMenu .menu-list .ttl{
    font-size: 13px;
    margin-bottom: 10px;
  }
  .swiper-subMenu .menu-item a{
    font-size: 13px;
  }

}
@media(max-width: 1023px){
  .sub-menu > .container > .text{
    margin-top: 10px;
  }
  .swiper-subMenu .swiper-wrapper{
    margin-top: 65px;
  }
  .swiper-subMenu .swiper-slide:nth-child(even){
    margin-top: 55px;
  }
  .swiper-subMenu .swiper-slide:nth-child(odd){
    margin-top: 20px;
  }
  .swiper-subMenu .img-box {
    padding-top: 133.55%;
  }
   .swiper-subMenu .subtitle{
    margin-top: 15px;
    margin-left: 11px;
  }
  .swiper-subMenu .subtitle div:last-child{
    margin-left: 8px;
  }
  .swiper-subMenu .menu-list{
    padding: 15px 23px;
  }
  .swiper-subMenu .menu-list:before{
    left: 11px;
  }
}
@media(max-width: 767px){
  .swiper-subMenu .swiper-slide:nth-child(odd),
  .swiper-subMenu .swiper-slide:nth-child(even) {
    margin-top: 0px;
  }
  .swiper-subMenu .img-box {
    padding-top: 119.55%;
  }
  .swiper-subMenu .swiper-wrapper{
    margin-top: 20px;
  }
}



/* start of news GPI*/
.news-outer .top{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.news-outer .img-box{
  position: relative;
  padding-top: 64.55%;

  border-radius: 8px;
  overflow: hidden;
}
.news-outer .img-box img{
  transition: 0.6s;
}
.news-outer .img-layer{
  background-color: #292562;
  opacity: 0;
  transition: 0.6s;
}
.news-outer .img-box > span{
  display: flex;
  align-items: center;
  position: absolute;
  left: 46px;
  bottom: 15px;
  overflow: hidden;
}
.news-outer .img-box .ttl{
  flex: none;
  color: #fff;
  margin-right: 10px;
  transform: translateY(30px);
  transition: 0.6s;
  backface-visibility: hidden;
}
.news-outer .img-box svg{
  flex: none;
  /*transform: scale(0);*/
  opacity: 0;
  transition: 0.6s;
  backface-visibility: hidden;
}
.news-outer .img-box > span svg line{
  transition: 0.6s;
}
.news-outer time{
  position: relative;
  display: flex;
  margin-top: 11px;
  margin-left: 45px;
  color: #EE2A7B;
}
.news-outer time:before{
  display: block;
  position: absolute;
  content: '';
  left: -15px;
  bottom: -4px;
  height: 85px;
  width: 3px;
  border-radius: 10px;
  background-color:#EE2A7B;
}
.news-outer .swiper-slide > .ttl{
  display: flex;
  margin-top: 35px;
}

@media(min-width: 1024px){
  .news-outer .swiper-slide:hover .img-layer{
    opacity: 0.56;
  }
  .news-outer .swiper-slide:hover .img-box .ttl{
    transform: translateY(0px);
  }
  .news-outer .swiper-slide:hover .img-box img{
    transform: scale(1.02);
  }
  .news-outer .img-box > span:hover .ttl{
    color: #EE2A7B;
  }
  .news-outer .img-box > span:hover svg line{
    stroke: #EE2A7B;
  }
  .news-outer .swiper-slide:hover .img-box svg{
    /*transform: scale(1);*/
    /*transition-delay: 0 !important;*/
    opacity: 1;
  }
}


@media(max-width: 1679px){
  .news-outer .img-box{
    padding-top: 71.43%;
  }
  .news-outer .swiper-slide > .ttl{
    margin-left: 45px;
  }
}

@media(max-width: 1365px){
  .news-outer .swiper-slide > .ttl{
    margin-top: 15.5px;
    font-size: 16px;
  }
  .news-outer time{
    margin-top: 15px;
    font-size: 13px;
  }
}

@media(max-width: 1023px){
  .news-outer .top{
    justify-content: flex-start;
  }
  .news-outer .img-box {
    padding-top: 70.2%;
  }
  .news-outer .swiper-slide > .ttl{
    margin-left: 55px;
    margin-top: 25px;
  }
  .news-outer time{
    margin-left: 55px;
  }
  .news-outer time:before{
    left: -27px;
    height: 104px;
    bottom: -11px;
  }
}
@media(max-width: 767px){
  .news-outer .top{
    margin-bottom: 13px;
  }
  .news-outer .swiper-slide > .ttl{
    margin-left: 22px;
    margin-top: 4px;
    font-size: 13px;
  }
  .news-outer time{
    margin-left: 22px;
    margin-top: 10px;
  }
  .news-outer time:before{
    left: -8px;
    height: 67px;
    bottom: -4px;
  }
}



/*start of direction slider*/
.direction-slider{
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
}
.direction-slider .swiper-slide{
  cursor: pointer;
}
.direction-slider .img-box{
  padding-top: 38.5%;
  border-radius: 8px;
}
.direction-slider .img-box picture{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 8px;
}
.direction-slider .img-box img{
  border-radius: 8px;
}
.direction-slider .img-layer{
  background-color: #292562;
  opacity: 0.4;
  border-radius: 8px;
}
.direction-slider .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 75px 80px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.direction-slider .ttl-wrap{
  position: relative;
  display: flex;
  margin-bottom: 30px;
  margin-left: 25px;
  padding-bottom: 14px;
}
.direction-slider  .ttl{
  max-width: 600px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.direction-slider  .ttl span{
  display: flex;
}
.direction-slider  .ttl-wrap .line{
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 60px;
  height: 3px;
  background-color: #E30D68;
}
.direction-slider .txt{
  position: relative;
  width: 700px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 23px 23px 30px 23px;
}
.direction-slider .txt *{
  color: #fff;
}
.direction-slider .txt .text{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;

  max-height: 138px;
  font-size: 13px;
  line-height: 23px;
}
.direction-slider .txt .btn{
  position: absolute;
  bottom: -30px;
  left: 23px;
  background-color: #fff;
  min-height: 50px;
  padding: 0 21px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: 0.6s;
}
.direction-slider .txt .btn span{
  color: #292562;
  transition: 0.6s;
}


/*slider arrows and bullets*/
.direction-slider .swiper-button-next.swiper-button-disabled, 
.direction-slider .swiper-button-prev.swiper-button-disabled{
  opacity: 0;
  transition: 0.6s;
}
.direction-slider .swiper-button-prev {
  background-image: none;
  left: 318px;
  transform: translateX(-50%);
  outline: none;
}
.direction-slider .swiper-button-next{
  background-image: none;
  right: 318px;
  transform: translateX(50%);
  outline: none;
}
.direction-slider .swiper-button-next, .direction-slider .swiper-button-prev{
  transition: 0.6s;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  -moz-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  background-color: #fff;
}
.direction-slider .swiper-button-next:before{
  position: absolute;
  top: 50%;
  left: 42%;
  content: '';
  border: solid #EE2A7B;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
 transform: translate(-50%,-50%) rotate(-45deg);
  -webkit-transform: translate(-50%,-50%) rotate(-45deg);
}
.direction-slider .swiper-button-prev:before{
  position: absolute;
  top: 37%;
  left: 42%;
  content: '';
  border: solid #EE2A7B;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
 transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


.direction-slider .swiper-pagination {
  bottom: 16px;
}
.direction-slider .swiper-pagination-bullet{
  background-color: #fff;
  opacity: 1;
  transition: 0.6s;
}
.direction-slider .swiper-pagination-bullet-active{
  background-color: #EE2A7B;
  opacity: 1;
}

/*hovers*/
@media(min-width: 1024px){
  .direction-slider .swiper-slide:hover .img-layer{
    opacity: 0.5;
  }
  .direction-slider .txt .btn:hover{
    background-color: #EE2A7B;
  }
  .direction-slider .txt .btn:hover span{
    color: #fff;
  }
  .direction-slider .swiper-button-prev:hover{
    transform: translateX(-50%) scale(1.05);
  }
  .direction-slider .swiper-button-next:hover{
    transform: translateX(50%) scale(1.05);
  }
}



@media(max-width: 1900px) {
  .direction-slider .swiper-button-prev {
    left: 198px;
  }
  .direction-slider .swiper-button-next{
    right: 198px;
  }
}
@media(max-width: 1679px) {
  .direction-slider .swiper-button-prev {
    left: 101px;
  }
  .direction-slider .swiper-button-next{
    right: 101px;
  }
  .direction-slider .img-box{
    padding-top: 43%;
  }
  .direction-slider .content{
    padding: 50px 65px 65px;
  }
}
@media(max-width: 1365px) {
  .direction-slider .ttl{
    max-width: 400px;
  }
  .direction-slider .content{
    padding: 30px 65px 65px;
  }
  .direction-slider .txt .text{
    -webkit-line-clamp: 4;
    max-height: 92px;
  }

  .direction-slider .swiper-button-prev {
    left: 71px;
  }
  .direction-slider .swiper-button-next{
    right: 71px;
  }
  .direction-slider .swiper-button-next, 
  .direction-slider .swiper-button-prev{
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
  .direction-slider .swiper-button-next:before,
  .direction-slider .swiper-button-prev:before{
    padding: 7px;
  }
}
@media(max-width: 1023px) {
  .direction-slider .img-box {
    padding-top: 46.8%;
  }
  .direction-slider .ttl{
    max-width: 350px;
    -webkit-line-clamp: 5;
    font-size: 34px !important;
  }
  .direction-slider  .ttl span{
    font-size: 34px !important;
  }
  .direction-slider .txt .text {
    -webkit-line-clamp: 3;
    max-height: 70px;
  }
  .direction-slider .content{
    padding: 30px;
  }
  .direction-slider .swiper-slide{
    padding-bottom: 145px;
  }
  .direction-slider .txt{
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% - 30px));
    width: calc(100% - 60px);
    background-color: #292562;
    border-color:#292562;
    padding-bottom: 50px;
  }
  .direction-slider .txt .btn{
    bottom: -25px;
  }


  .direction-slider .swiper-button-prev {
    left: 32px;
  }
  .direction-slider .swiper-button-next{
    right: 32px;
  }
  .direction-slider .swiper-button-next, 
  .direction-slider .swiper-button-prev{
    width: 38px;
    height: 38px;
    margin-top: -18px;
    outline: none;
  }
  .direction-slider .swiper-button-next:before,
  .direction-slider .swiper-button-prev:before{
    padding: 6px;
  }
  .direction-slider .swiper-pagination{
    display: none;
  }
  .direction-slider .swiper-button-next, 
  .direction-slider .swiper-button-prev{
    top: calc(50% - 72.5px);
  }
}
@media(max-width: 767px) {
  .direction-slider .swiper-slide{
    padding-bottom: 250px;
  }
  .direction-slider .img-box {
    padding-top: 133.1%;
  }
  .direction-slider .txt{
    transform: translateY(calc(100% - 15px));
    width: 100%;
    left: 0;
    padding: 30px 21px 30px 21px;
  }
  .direction-slider .content{
    padding: 21px 21px 100px 21px; 
  }
  .direction-slider .ttl-wrap{
    margin: 0;
  }
  .direction-slider  .ttl span{
    font-size: 21px !important;
  }
  .direction-slider .txt .text {
    -webkit-line-clamp: 5;
    max-height: 115px;
  }
  .direction-slider .txt .btn{
    position: relative;
    left: auto;
    bottom:auto;
    min-height: 40px;
    margin: 30px auto 0px;
    height: 40px;
  }
  .direction-slider .txt .btn span{
    font-size: 13px;
  }
  .direction-slider .swiper-button-next, 
  .direction-slider .swiper-button-prev{
    top: auto;
    bottom: calc(250px + 20px + 15px)
  }
  .direction-slider .swiper-button-prev{
    transform: translateX(0%);
    left: 36px;
  }
  .direction-slider .swiper-button-next{
    transform: translateX(0%);
    left: 94px;
    right: auto;
  }
  .direction-slider .swiper-button-next.swiper-button-disabled, 
  .direction-slider .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
  }
}



/*start of real stories*/
.real-stories{
  margin: 100px 0;
}
.real-stories > .ttl{
  display: flex;
  justify-content: center;
}
.stories-slider{
  margin-top: 75px;
}
.stories-slider .swiper-slide:nth-child(even){
  margin-top: 70px;
}
.stories-slider a{
  cursor: pointer;
}
.stories-slider .img-box{
  padding-top: 71%;
  border-right: 8px;
  overflow: hidden;
}
.stories-slider .img-layer {
  background-color: #292562;
  opacity: 0;
  transition: 0.6s;
  border-radius: 8px;
}
.stories-slider .img-box picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 8px;
  transition: 0.6s;
}
.stories-slider .img-box img{
  border-radius: 8px;
  transition: 0.6s;
}
.stories-slider .subtitle{
  margin-top: 23px;
}
.stories-slider .text{
  margin-top: 16px;
}
.stories-slider .name{
  position: relative;
  margin-top: 18px;
  padding-bottom: 8px;
}
.stories-slider .name:before{
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 60px;
  background-color: #EE2A7B;
}

@media(min-width: 1024px){
  .stories-slider a:hover .img-layer{
    opacity: 0.56;
  }
  .stories-slider a:hover img,
  .stories-slider a:hover picture{
    transform: scale(1.05);
  }
}