body{
  overflow-x: hidden; 
}

/*ზოგადი*/
.all-btn{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.all-btn > span{
  font-family: "NotoSans-Bold", "NotoSansGeorgian-Bold";
  transition: 0.6s;
  margin-right: 15px;
}
@media(min-width: 1024px){
  .all-btn:hover > span{
    color: #EE2A7B;
  }
}
@media(max-width: 1023px){
  .all-btn > span{
    font-size: 13px;
  }
}


.img-layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.6s;
}



/*start of subMenu*/
.sub-menu{
  
}
.sub-menu > .container > .ttl{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-menu > .container > .text{
  text-align: center;
  margin-top: 15px;
}

.swiper-subMenu .swiper-wrapper{
  margin-top: 90px;
}
.swiper-subMenu .swiper-slide{
  cursor: pointer;
  overflow: hidden;
}
.swiper-subMenu .swiper-slide:first-child{
  margin-top: 0!important;
}
.swiper-subMenu .swiper-slide:nth-child(even){
  margin-top: 115px;
}
.swiper-subMenu .swiper-slide:nth-child(odd){
  margin-top: 60px;
}


.swiper-subMenu .img-box{
  position: relative;
  padding-top: 119%;
  border-radius: 8px;
}
.swiper-subMenu .img-layer{
  background-color: #292562;
  opacity: 0;
  transition: 0.6s;
  border-radius: 8px;
}
.swiper-subMenu img{
  border-radius: 8px;
}
.swiper-subMenu .menu-list{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  padding: 35px 50px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.swiper-subMenu .menu-list-inner{
  opacity: 0;
  transition:0.6s;
}
.swiper-subMenu .menu-list .ttl{
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.6s;
}
.swiper-subMenu .menu-list:before{
  position: absolute;
  display: block;
  content: '';
  bottom:  -63px;
  left: 30px;
  height: calc(100% - 35px - 26px - 20px + 63px);
  width: 3px;
  border-radius: 10px;
  background-color: #EE2A7B;
  transition: 0.6s;
  transition-timing-function: cubic-bezier(0.4, 0.01, 0.1, 0.99);
  transform: translateY(100%);
}
.swiper-subMenu .menu-item{
  display: flex;
  text-align: left;
  position: relative;
  padding-left: 17px;
  margin-top: 1px;
}
.swiper-subMenu .menu-item svg{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) scale(0);
  transition: 0.6s;
  backface-visibility: hidden;
}
.swiper-subMenu .menu-item svg:nth-child(2){
  opacity: 0;
}
.swiper-subMenu .menu-item a{
  display: inline-block;
  color: #fff;
  transition: 1s;
  opacity: 0;
  text-decoration: none;
  transition-timing-function: cubic-bezier(0.4, 0.01, 0.1, 0.99);
  pointer-events: none;
}
.swiper-subMenu .hovered .menu-item a{
  transition-delay: 0s !important;
}

.swiper-subMenu .subtitle{
  display: flex;
  align-items: stretch;
  text-align: left;
  margin-top: 35px;
  margin-left: 30px;
}
.swiper-subMenu .subtitle div:first-child{
 width: 3px;
 background-color: #EE2A7B;
 border-radius: 10px;
 flex: none;
}
.swiper-subMenu .subtitle div:last-child{
  margin-left: 17px;
  transition: 0.6s;
  padding-right: 20px;
}


 .swiper-subMenu .swiper-slide:hover .img-layer{
  opacity: 0.7;
 }
 .swiper-subMenu .swiper-slide:hover .menu-list-inner{
  opacity: 1;
 }
 .swiper-subMenu .swiper-slide:hover .ttl{
  opacity: 1;
  transform: translateY(0);
 }
 .swiper-subMenu .swiper-slide:hover .subtitle div:last-child{
  transform: translateY(-7px);
 }
 .swiper-subMenu .swiper-slide:hover .menu-list:before{
   transform: translateY(0%);
 }
 .swiper-subMenu .swiper-slide:hover .menu-item a{
  transform: translateX(0px) !important;
  opacity: 1;
 }
 .swiper-subMenu .swiper-slide.hovered .menu-item a{
  pointer-events: all;
 }
 .swiper-subMenu .swiper-slide:hover .menu-item svg{
  transform: translateY(-50%) scale(1);
 }
 .swiper-subMenu .menu-item:hover a{
  margin-left: 5px;
  transition-delay: 0s !important;
  text-decoration: underline;
 }
 .swiper-subMenu .menu-item:hover svg:nth-child(2){
  opacity: 1;
 }





@media(max-width: 1900px){
}
@media(max-width: 1679px){
  .swiper-subMenu .img-box {
    padding-top: 103.4%;
  }
  .swiper-subMenu .swiper-wrapper{
    margin-top: 70px;
  }
  .swiper-subMenu .swiper-slide:nth-child(even){
    margin-top: 105px;
  }
  .swiper-subMenu .swiper-slide:nth-child(odd){
    margin-top: 50px;
  }
  .swiper-subMenu .subtitle{
    margin-top: 21px;
    margin-left: 19px;
  }
  .swiper-subMenu .subtitle div:last-child{
    margin-left: 14px;
  }
  .swiper-subMenu .menu-list{
    padding: 20px 37px;
  }
  .swiper-subMenu .menu-list:before{
    left: 19px;
    height: calc(100% - 20px - 28px - 20px + 46px);
    bottom: -46px;
  }
}
@media(max-width: 1365px){
  .swiper-subMenu .swiper-slide:nth-child(even){
    margin-top: 80px;
  }
  .swiper-subMenu .swiper-slide:nth-child(odd){
    margin-top: 40px;
  }
  .swiper-subMenu .subtitle{
    margin-top: 20px;
    margin-left: 15px;
  }
  .swiper-subMenu .subtitle div:last-child{
    margin-left: 11px;
  }
  .swiper-subMenu .menu-list{
    padding: 20px 30px;
  }
  .swiper-subMenu .menu-list:before{
    left: 15px;
    height: calc(100% - 20px - 18px - 10px + 38px);
    bottom: -38px;
  }

  .swiper-subMenu .subtitle div:last-child{
    font-size: 13px;
  }
  .swiper-subMenu .menu-list .ttl{
    font-size: 13px;
    margin-bottom: 10px;
  }
  .swiper-subMenu .menu-item a{
    font-size: 13px;
  }

}
@media(max-width: 1023px){
  .sub-menu > .container > .text{
    margin-top: 10px;
  }
  .swiper-subMenu .swiper-wrapper{
    margin-top: 65px;
  }
  .swiper-subMenu .swiper-slide:nth-child(even){
    margin-top: 55px;
  }
  .swiper-subMenu .swiper-slide:nth-child(odd){
    margin-top: 20px;
  }
  .swiper-subMenu .img-box {
    padding-top: 133.55%;
  }
   .swiper-subMenu .subtitle{
    margin-top: 15px;
    margin-left: 11px;
  }
  .swiper-subMenu .subtitle div:last-child{
    margin-left: 8px;
  }
  .swiper-subMenu .menu-list{
    padding: 15px 23px;
  }
  .swiper-subMenu .menu-list:before{
    left: 11px;
  }
}
@media(max-width: 767px){
  .swiper-subMenu .swiper-slide:nth-child(odd),
  .swiper-subMenu .swiper-slide:nth-child(even) {
    margin-top: 0px;
  }
  .swiper-subMenu .img-box {
    padding-top: 119.55%;
  }
  .swiper-subMenu .swiper-wrapper{
    margin-top: 20px;
  }
}



/* start of news GPI*/
.news-outer .top{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.news-outer .img-box{
  position: relative;
  padding-top: 64.55%;

  border-radius: 8px;
  overflow: hidden;
}
.news-outer .img-layer{
  background-color: #292562;
  opacity: 0;
  transition: 0.6s;
}
.news-outer .img-box > span{
  display: flex;
  align-items: center;
  position: absolute;
  left: 46px;
  bottom: 15px;
  overflow: hidden;
}
.news-outer .img-box .ttl{
  flex: none;
  color: #fff;
  margin-right: 10px;
  transform: translateY(30px);
  transition: 0.6s;
  backface-visibility: hidden;
}
.news-outer .img-box svg{
  flex: none;
  /*transform: scale(0);*/
  opacity: 0;
  transition: 0.6s;
  backface-visibility: hidden;
}
.news-outer .img-box > span svg line{
  transition: 0.6s;
}
.news-outer time{
  position: relative;
  display: flex;
  margin-top: 11px;
  margin-left: 45px;
  color: #EE2A7B;
}
.news-outer time:before{
  display: block;
  position: absolute;
  content: '';
  left: -15px;
  bottom: -4px;
  height: 85px;
  width: 3px;
  border-radius: 10px;
  background-color:#EE2A7B;
}
.news-outer .swiper-slide > .ttl{
  display: flex;
  margin-top: 35px;
}

@media(min-width: 1024px){
  .news-outer .swiper-slide:hover .img-layer{
    opacity: 0.56;
  }
  .news-outer .swiper-slide:hover .img-box .ttl{
    transform: translateY(0px);
  }
  .news-outer .img-box > span:hover .ttl{
    color: #EE2A7B;
  }
  .news-outer .img-box > span:hover svg line{
    stroke: #EE2A7B;
  }
  .news-outer .swiper-slide:hover .img-box svg{
    /*transform: scale(1);*/
    /*transition-delay: 0 !important;*/
    opacity: 1;
  }
}


@media(max-width: 1679px){
  .news-outer .img-box{
    padding-top: 71.43%;
  }
  .news-outer .swiper-slide > .ttl{
    margin-left: 45px;
  }
}

@media(max-width: 1365px){
  .news-outer .swiper-slide > .ttl{
    margin-top: 15.5px;
    font-size: 16px;
  }
  .news-outer time{
    margin-top: 15px;
    font-size: 13px;
  }
}

@media(max-width: 1023px){
  .news-outer .top{
    justify-content: flex-start;
  }
  .news-outer .img-box {
    padding-top: 70.2%;
  }
  .news-outer .swiper-slide > .ttl{
    margin-left: 55px;
    margin-top: 25px;
  }
  .news-outer time{
    margin-left: 55px;
  }
  .news-outer time:before{
    left: -27px;
    height: 104px;
    bottom: -11px;
  }
}
@media(max-width: 767px){
  .news-outer .top{
    margin-bottom: 13px;
  }
  .news-outer .swiper-slide > .ttl{
    margin-left: 22px;
    margin-top: 4px;
    font-size: 13px;
  }
  .news-outer time{
    margin-left: 22px;
    margin-top: 10px;
  }
  .news-outer time:before{
    left: -8px;
    height: 67px;
    bottom: -4px;
  }
}