body {
  margin: 0;
  background: #eee;
  overflow-x: hidden;
}
.container {
  max-width: 1284px;
  margin: auto;
  position: relative;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #BB2645; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #93283e; 
}
/* START OF _ECOIST-SLIDER */
#ecoist-slider {
  width: 100%;
  position: relative;
  margin-bottom: 192px;
}
#ecoist-slider .slider-container {
  width: 100%;
  padding-top: 33.3%;
  display: flex;
  justify-content: center;
  position: relative;
}
#ecoist-slider .slider-container .item {
  width: 47.6%;
  position: absolute;
  top: 0;
  height: 100%;
  transform: scale(0);
  transition: 1s cubic-bezier(0.52, 0, 0.25, 0.99);
  backface-visibility: hidden;
}
#ecoist-slider .slider-container .item.active {
  z-index: 10;
}
#ecoist-slider .slider-container .item .image {
  display: flex;
  justify-content: center;
    height: 100%;
    align-items: center;
}
#ecoist-slider .slider-container .item .image img {
  max-width: 100%;
  height: auto;
  transition: .6s;
  user-select: none;
}
#ecoist-slider .slider-container .item.hovered .image img {
  transform: scale(1.1);
}
#ecoist-slider .text-container {
  padding-top: 24px;
}
#ecoist-slider .text-container .text-item {
  position: relative;
  text-align: center;
  width: 100%;
  height: 0px;
  overflow: hidden;
}
#ecoist-slider .text-container .text-item:nth-child(1) {
  height: auto;
}
#ecoist-slider .text-container .text-item.not-active {
  height: auto;
}
#ecoist-slider .text-container .text-item.active {
  height: auto;
}
#ecoist-slider .text-container .text-item.not-active a div span {
  animation: a_a .5s both;
}
#ecoist-slider .text-container .text-item.not-active a {
  animation: a_b .5s both .3s;
}
#ecoist-slider .text-container .text-item.not-active .text {
  animation: a_c .5s both .3s;
}
#ecoist-slider .text-container .text-item .text {
  margin-top: 10px;
}
#ecoist-slider .text-container .text-item.not-active h2 {
  animation: a_b .5s both .3s;
}
#ecoist-slider .text-container .text-item.active a div span {
  animation: b_a .5s both .3s;
  backface-visibility: hidden;
}
#ecoist-slider .text-container .text-item.active a {
  animation: b_b .5s both;
}
#ecoist-slider .text-container .text-item.active .text {
  animation: b_d .5s both .3s;
}
#ecoist-slider .text-container .text-item.active h2 {
  animation: b_b .5s both .3s;
}
#ecoist-slider .text-container .text-item a {
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 21px;
  text-decoration: none;
  margin-top: 20px;
  transition: .6s;
  border: 1px solid rgba(145, 153, 180, 0.7);
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
  box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
}
#ecoist-slider .text-container .text-item a:hover {
  background: #EE2A7B;
}
#ecoist-slider .text-container .text-item a div {
  overflow: hidden;
}
#ecoist-slider .text-container .text-item a div span {
  display: block;
  transition: .6s;
}
#ecoist-slider .text-container .text-item a:hover div span {
  color: white;
}
#ecoist-slider .text-container .text-item h2 span {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  display: inline-block;
  color: #EE2A7B;
}
@keyframes a_a {
  from { transform: translate(0,0); }
  to { transform: translate(0,100%); }
}
@keyframes a_b {
  from { transform: scale(1); opacity: 1; }
  to { transform: scale(0.5); opacity: 0; }
}
@keyframes a_c {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes b_a {
  from { transform: translate(0,100%); }
  to { transform: translate(0,0); }
}
@keyframes b_b {
  from { transform: scale(0.5); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
@keyframes b_c {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes b_d {
  from { transform: translate(0,20px); opacity: 0; }
  to { transform: translate(0,0px); opacity: 1; }
}
@media (max-width: 1599px) {
  #ecoist-slider {
    margin-bottom: 104px;
  }
}
@media (max-width: 1365px){
  #ecoist-slider {
    margin-bottom: 69px;
  }
}
@media (max-width: 1023px){
  #ecoist-slider .slider-container {
    width: 114vw;
    padding-top: 44.3%;
    position: relative;
    margin-left: -7vw;
  }
  #ecoist-slider {
    margin-bottom: 89px;
  }
}
@media (max-width: 767px) {
  /*#ecoist-slider {
      width: 114vw;
      position: relative;
      margin-left: -7vw;
  }*/
  #ecoist-slider {
    margin-bottom: 55px;
  }
  #ecoist-slider .slider-container {
    padding-top: 107.3%;
    padding-top: 57.3%;
    width: 114vw;
    position: relative;
    margin-left: -7vw;
  }
}
#cursor {
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 20;
  overflow: hidden;
  border-radius: 50%;
  pointer-events: none;
}
.mobile #cursor {
  display: none !important;
}
#cursor.active {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  -moz-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
}
#cursor .content {
  background: white;
  transition: .6s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#cursor .content div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  transform: scale(0);
  transition: .3s 0s;
}
#cursor.play-btn .content div.play {
  transform: scale(1);
  transition-delay: 0.3s;
}
#cursor.prev-btn .content div.prev {
  transform: scale(1);
  transition-delay: 0.3s;
}
#cursor.next-btn .content div.next {
  transform: scale(1);
  transition-delay: 0.3s;
}
#cursor .content .play svg {
  width: 30px;
  height: 30px;
}
#cursor.active .content {
  opacity: 1;
}
#ecoist-slider .heading {
  text-align: center;
}
#ecoist-slider .heading h2 {
  /*backface-visibility: hidden;*/
}
#ecoist-slider .heading .text {
  margin-bottom: 25px;
}
@keyframes focused {
  from { transform: scale(1); }
  50% { transform: scale(0.7); }
  100% { transform: scale(1); }
}
.focused {
  animation: focused .3s both;
}
#ecoist-popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999999;
}
#ecoist-popup.active {
  pointer-events: all;
}
#ecoist-popup .popup {
  pointer-events: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 37, 98, 0.9);
  transition: .6s;
}
#ecoist-popup .popup video {
  width: 90vw;
  height: 80vh;
  position: absolute;
  top: 10vh;
  object-fit: cover;
  left: 5vw;
  background: red;
}
#ecoist-popup .popup.active {
  opacity: 1;
  pointer-events: all;
}
#ecoist-popup .popup .close-svg {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: .4s;
  line-height: 0;
}
#ecoist-popup .popup .close-svg:hover {
  transform: rotate(180deg)
}
/* END OF _ECOIST-SLIDER */

/* START OF _ANIMATIONS */
/* START OF _ANIMATIONS */
.kfn_anim {
  visibility: visible;
}
.kfn_anim.active-kfn {
  visibility: visible;
}
.k-slideUp {
  transform: translate3d(0, 100%, 0);
}
.kfn_anim.active-kfn.k-slideUp {
  transform: translate3d(0, 0, 0);
  transition: 1s;
}

.k-fadeUp {
  transform: translate3d(0, 100px, 0);
  opacity: 0;
}
.kfn_anim.active-kfn.k-fadeUp {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 1s;
}

.k-fadeRight {
  transform: translate3d(100px, 0, 0);
  opacity: 0;
}
.kfn_anim.active-kfn.k-fadeRight {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 1s;
}

.k-fadeLeft {
  transform: translate3d(-100px, 0, 0);
  opacity: 0;
}
.kfn_anim.active-kfn.k-fadeLeft {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 1s;
}

.k-scale {
  transform: scale(0);
}
.kfn_anim.active-kfn.k-scale {
  transform: scale(1);
  transition: 1s;
}

.k-fadeIn {
  opacity: 0;
}
.kfn_anim.active-kfn.k-fadeIn {
  opacity: 1;
  transition: 1s;
}

.k-zoomOut {
  transform: scale(1.2);
}
.kfn_anim.active-kfn.k-zoomOut {
  transform: scale(1);
  transition: 1s;
}
@keyframes ecoist-one {
  from { transform: translate(100%,0) scale(0.55); opacity: 0.5 }
  to { transform: translate(0,0) scale(1); opacity: 1 }
}
@keyframes ecoist-two {
  from { transform: translate(0%,0) scale(0.3); opacity: 0 }
  to { transform: translate(100%,0) scale(0.55); opacity: .5 }
}
@keyframes ecoist-three {
  from { transform: translate(0%,0) scale(1); opacity: 1 }
  to { transform: translate(-100%,0) scale(0.55); opacity: .5 }
}
@keyframes ecoist-four {
  from { transform: translate(-100%,0) scale(0.55); opacity: .5 }
  to { transform: translate(0%,0) scale(.3); opacity: 0 }
}
#ecoist-slider.active-kfn .slider-container .item:nth-child(1) {
  animation: ecoist-one 1s cubic-bezier(0.52, 0, 0.25, 0.99);
}
#ecoist-slider.active-kfn .slider-container .item:nth-child(2) {
  animation: ecoist-two 1s cubic-bezier(0.52, 0, 0.25, 0.99);
}
#ecoist-slider.active-kfn .slider-container .item:last-child {
  animation: ecoist-three 1s cubic-bezier(0.52, 0, 0.25, 0.99);
}
#ecoist-slider.active-kfn .slider-container .item:nth-last-child(2) {
  animation: ecoist-four 1s cubic-bezier(0.52, 0, 0.25, 0.99);
}
#ecoist-slider .text-container .text-item h2 {
  opacity: 0;
  transform: scale(0.7);
  transition: 1s;
}
#ecoist-slider .text-container.active-kfn .text-item h2 {
  opacity: 1;
  transform: scale(1);
}
#ecoist-slider .text-container .text-item .text {
  opacity: 0;
  transform: translate(0,20px);
  transition: 1s;
}
#ecoist-slider .text-container.active-kfn .text-item .text {
  opacity: 1;
  transform: translate(0,0px);
}
#ecoist-slider .text-container .text-item a span {
  /*opacity: 0;*/
  transform: translate(0,100%);
  transition: 1s;
}
#ecoist-slider .text-container.active-kfn .text-item a span {
  opacity: 1;
  transform: translate(0,0px);
}
#ecoist-slider .text-container .text-item a {
  opacity: 0;
}
#ecoist-slider .text-container.active-kfn .text-item a {
  opacity: 1;
}
/* END OF _ANIMATION */

/* START OF _ECOIST-PAGE */

.ecoist-page-container .heading {
  display: flex;
  align-items: center;
  margin-bottom: 128px;
}
.ecoist-page-container .heading .side {
  position: relative;
  width: 50%;
}
.ecoist-page-container .heading .side:nth-child(1){
  padding-right: 15px;
}
.ecoist-page-container .heading .side:nth-child(2){
  padding-left: 15px;
}
.ecoist-page-container .heading .side .image {
  padding-top: 114%;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}
.ecoist-page-container .heading .side .image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.ecoist-page-container .main-container .row {
  display: flex;
  align-items: center;
  margin-bottom: 128px;
}
.ecoist-page-container .main-container .row:nth-child(even) {
  flex-direction: row-reverse;
}
.ecoist-page-container .main-container .row:nth-child(even) .side:nth-child(1) {
  padding-left: 15px;
}
.ecoist-page-container .main-container .row:nth-child(even) .side:nth-child(2) {
  padding-right: 15px;
}
.ecoist-page-container .main-container .row:nth-child(odd) .side:nth-child(1) {
  padding-right: 15px;
}
.ecoist-page-container .main-container .row:nth-child(odd) .side:nth-child(2) {
  padding-left: 15px;
}
.ecoist-page-container .main-container .row .side {
  width: 50%;
}
.ecoist-page-container .main-container .row .side .image {
  padding-top: 98%;
  position: relative;
  overflow: hidden;
}
.ecoist-page-container .main-container .row .side .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  position: absolute;
}
.ecoist-page-container .main-container .row .side .text {
  margin-bottom: 27px;
}
.ecoist-page-container .main-container .row .side a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.ecoist-page-container .main-container .row .side a .circle {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: white;
  margin-right: 17px;
  box-shadow: 0px 0px 20px 0px rgba(0,153,255,0.1);
}
.ecoist-page-container .main-container .row .side a span {
}

/* END OF _ECOIST-PAGE */

/* START OF _ABOUT-SLIDER */
.about-container {
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding: 0 102px;
}
.about-container .swiper-container {
  overflow: visible !important;
}
.about-container .swiper-container .image {
  padding-top: 40.6%;
  position: relative;
  display: flex;
  align-items: center;
  background: #292562;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
}
.about-container .swiper-container .image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: .6s;
  opacity: 0.8;
}
.about-container .swiper-container .image:hover img {
  opacity: 0.6;
}
.about-container .swiper-container .image h2 {
  z-index: 10;
  position: relative;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}
.about-container .swiper-container .swiper-slide {
  transform: scale(0.86);
  opacity: 0.5;
  transition: .6s;
}
.about-container .swiper-container .swiper-slide.swiper-slide-next {
  transform-origin: left;
}
.about-container .swiper-container .swiper-slide.swiper-slide-prev {
  transform-origin: right;
}
.about-container .swiper-container .swiper-slide.swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}
.about-container .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  z-index: 3;
  position: relative;
}
.about-container .buttons .button {
  width: 322px;
  margin: 0 23.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: white;
  position: relative;
  border-radius: 8px;
  transition: .6s;
}
.about-container .buttons .button span {
  transition: .6s;
}
.about-container .buttons .button:hover {
  background: #292562;
}
.about-container .buttons .button:hover span {
  color: white;
}
.about-container .buttons .button:after {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  left: 30px;
  border-radius: 50%;
}
.about-container .buttons .button:nth-child(1):after {
  background: #6768FF;
}
.about-container .buttons .button:nth-child(2):after {
  background: #EE2A7B;
}
.about-container .buttons .button:nth-child(3):after {
  background: #FCB618;
}
.swiper-button-prev_ {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  z-index: 100;
  top: 50%;
  position: absolute;
  margin-top: -35px;
  margin-left: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  -moz-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  transition: .4s;
}
.swiper-button-prev_:hover {
  transform: scale(1.1);
}
.swiper-button-next_ {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  z-index: 100;
  top: 50%;
  position: absolute;
  margin-top: -35px;
  margin-right: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  -moz-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  transition: .4s;
  right: 0;
}
.swiper-button-next_:hover {
  transform: scale(1.1);
}
.about-container .swiper-button-disabled {
  opacity: 0;
}
@media (max-width: 1365px){
  .about-container {
    padding: 0 71px;
  }
}
@media (max-width: 1023px){
  .about-container {
    padding: 0 33px;
  }
  .swiper-button-next_ {
    width: 40px;
    height: 40px;
    margin-right: -20px;
    margin-top: -20px;
  }
  .swiper-button-next_ svg {
    width: 20px;
    height: 20px;
  }
  .swiper-button-prev_ {
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
  }
  .swiper-button-prev_ svg {
    width: 20px;
    height: 20px;
  }
  .about-container .buttons .button {
    margin: 0 8.5px;
    height: 60px;
  }
  .about-container .buttons .button:after {
    left: 20px;
  }
}
@media (max-width: 767px){
  .about-container {
    padding: 0 16px;
  }
  .about-container .buttons {
    flex-direction: column;
    margin-top: 20px;
  }
  .about-container .buttons .button {
    width: 90%;
    margin-bottom: 10px;
  }
  .about-container .swiper-container .image h2 {
    max-width: 90%;
  }
  .about-container .swiper-container .image {
    padding-top: 60.6%;
  }
  .about-container .buttons .button span {
    font-size: 16px;
  }
}

/* END OF _ABOUT-SLIDER */

/* START OF _AWARDS */

body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
.awards-container {
    width: 100%;
    position: relative;
    padding: 0 100px;
}
.awards-container .heading h2 {
    text-align: center;
}
.awards-container .main-content {
    padding: 20px 85px;
    margin-top: 55px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.05);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.05);
    box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.05);
    background: white;
    border-radius: 8px;
}
.awards-container .main-content .row {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.awards-container .main-content .row .side {
    width: 50%;
    padding: 40px 0;
    position: relative;
}
.awards-container .main-content .row .side:nth-child(odd) {
    padding-right: 30px;
}
.awards-container .main-content .row .side:nth-child(even) {
    padding-left: 150px;
}
.awards-container .main-content .row svg.drop-line {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
}
.awards-container .main-content .row svg.center-line {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0,-50%);
}
.awards-container .main-content .row .side h2 {
    transition: .6s;
}
.awards-container .main-content .row .side a:hover h2 {
    color: #EE2A7B;
}
.awards-container .main-content .row .side .desc {
    display: flex;
    align-items: flex-start;
}
.awards-container .main-content .row .side .desc .year {
    color: #EE2A7B;
    margin-right: 5px;
}
.awards-container .main-content .row:last-child svg.drop-line {
    display: none;
}
.awards-container .main-content .row .side svg {
  display: none;
}
@media (max-width: 1599px){
  .awards-container .main-content .row .side:nth-child(even) {
    padding-left: 50px;
  }
  .awards-container .main-content {
    padding: 20px 45px;
  }
  .awards-container .main-content {
    margin-top: 25px;
  }
}
@media (max-width: 1365px){
  .awards-container {
    padding: 0 71px;
  }
}
@media (max-width: 1023px){
  .awards-container {
    padding: 0 33px;
  }
  .awards-container .main-content .row {
    flex-direction: column;
  }
  .awards-container .main-content .row .side {
    padding-top: 0;
    padding: 20px 0;
    width: 100%;
    padding-bottom: 0;
  }
  .awards-container .main-content .row .side:nth-child(even) {
    padding-left: 0;
  }
  .awards-container .main-content .row svg.drop-line {
    display: none;
  }
  .awards-container .main-content .row svg.center-line {
    display: none;
  }
  .awards-container .main-content .row:last-child .side:nth-child(2) svg {
    display: none;
  }
  .awards-container .main-content .row .side svg {
    display: inline;
  }
}
@media (max-width: 767px){
  .awards-container {
    padding: 0 17px;
  }
  .awards-container .main-content {
    padding: 20px;
  }
  .awards-container .main-content .row .side:nth-child(odd) {
    padding-right: 0;
  }
}

/* END OF _AWARDS */

/* START OF _VIDEO-CONTAINER */

.kfn-video-container {
  position: relative;
}
.kfn-video-container .wrapper {
  position: relative;
  width: 100%;
  padding-top: 39%;
  background: #292562;
  border-radius: 8px;
  overflow: hidden;
}
.kfn-video-container .wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}
.kfn-video-container .wrapper h2 {
  position: absolute;
  width: 50%;
  z-index: 3;
  top: 50%;
  left: 0;
  padding-left: 112px;
  transform: translate(0,-50%);
  color: white;
}
.kfn-video-container .wrapper #open-video {
  position: absolute;
  top: 50%;
  right: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  transform: translate(0,-50%);
  border: 1px solid white;
  width: 164px;
  height: 164px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.kfn-video-container .wrapper #open-video svg {
  position: relative;
  z-index: 3;
}
.kfn-video-container .wrapper #open-video .bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.3;
} 
.kfn-video-container .wrapper #open-video .hover-bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #EE2A7B;
  opacity: 0;
  transition: .6s;
} 
.kfn-video-container .wrapper #open-video:hover .hover-bg {
  opacity: 1;
}
@media (max-width: 1599px){
  .kfn-video-container .wrapper #open-video {
    width: 147px;
    height: 147px;
  }
}
@media (max-width: 1365px){
  .kfn-video-container .wrapper #open-video {
    width: 111px;
    height: 111px;
    right: 77px;   
  }
  .kfn-video-container .wrapper #open-video svg {
    width: 22px;
    height: 25px;
  }
  .kfn-video-container .wrapper h2 {
    padding-left: 77px;
  }
}
@media (max-width: 1023px){
  .kfn-video-container .wrapper #open-video {
    width: 88px;
    height: 88px;
    right: 62px;
  }
  .kfn-video-container .wrapper h2 {
    padding-left: 62px;
  }
}
@media (max-width: 767px){
  .kfn-video-container .wrapper {
    padding-top: 0%;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .kfn-video-container .wrapper h2 {
    position: relative;
    padding-left: 28px;
    width: 100%;
    transform: unset;
  }
  .kfn-video-container .wrapper #open-video {
    position: relative;
    width: 80px;
    height: 80px;
    right: unset;
    top: unset;
    right: unset;
    left: unset;
    transform: unset;
    margin-left: 28px;
    margin-bottom: 18px;
  }
  .kfn-video-container .wrapper #open-video svg {
    width: 16px;
    height: 18px;
  }
  
}

/* END OF _VIDEO-CONTAINER */