body , html {
  margin: 0;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.container {
  max-width: 1284px;
  margin: auto;
  position: relative;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #BB2645; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #93283e; 
}
/* START OF _ECOIST-SLIDER */
#ecoist-slider {
  width: 100%;
  position: relative;
  margin-bottom: 192px;
}
#ecoist-slider .slider-container {
  width: 100%;
  padding-top: 33.3%;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
#ecoist-slider .slide-dots {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  z-index: 10;
}
.mobile #ecoist-slider .slide-dots {
  display: flex;
}
#ecoist-slider .slide-dots .slide-dot {
  width: 70px;
  height: 70px;
  display: flex;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  -moz-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255,255,255,0.8);
}
#ecoist-slider .slider-container .item {
  width: 47.6%;
  position: absolute;
  top: 0;
  height: 100%;
  transform: scale(0);
  transition: 1s cubic-bezier(0.52, 0, 0.25, 0.99);
  backface-visibility: hidden;
}
#ecoist-slider .slider-container .item.active {
  z-index: 10;
}
#ecoist-slider .slider-container .item .image {
  display: flex;
  justify-content: center;
    height: 100%;
    align-items: center;
}
#ecoist-slider .slider-container .item .image img {
  max-width: 100%;
  height: auto;
  transition: .6s;
  user-select: none;
}
#ecoist-slider .slider-container .item.hovered .image img {
  transform: scale(1.1);
}
#ecoist-slider .text-container {
  padding-top: 24px;
}
#ecoist-slider .text-container .text-item {
  position: relative;
  text-align: center;
  width: 100%;
  height: 0px;
  overflow: hidden;
}
#ecoist-slider .text-container .text-item:nth-child(1) {
  height: auto;
}
#ecoist-slider .text-container .text-item.not-active {
  height: auto;
}
#ecoist-slider .text-container .text-item.active {
  height: auto;
}
#ecoist-slider .text-container .text-item.not-active a div span {
  animation: a_a .5s both;
}
#ecoist-slider .text-container .text-item.not-active a {
  animation: a_b .5s both .3s;
}
#ecoist-slider .text-container .text-item.not-active .text {
  animation: a_c .5s both .3s;
}
#ecoist-slider .text-container .text-item .text {
  margin-top: 10px;
}
#ecoist-slider .text-container .text-item.not-active h2 {
  animation: a_b .5s both .3s;
}
#ecoist-slider .text-container .text-item.active a div span {
  animation: b_a .5s both .3s;
  backface-visibility: hidden;
}
#ecoist-slider .text-container .text-item.active a {
  animation: b_b .5s both;
}
#ecoist-slider .text-container .text-item.active .text {
  animation: b_d .5s both .3s;
}
#ecoist-slider .text-container .text-item.active h2 {
  animation: b_b .5s both .3s;
}
#ecoist-slider .text-container .text-item a {
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 21px;
  text-decoration: none;
  margin-top: 20px;
  transition: .6s;
  border: 1px solid rgba(145, 153, 180, 0.7);
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
  box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
}
#ecoist-slider .text-container .text-item a:hover {
  background: #EE2A7B;
}
#ecoist-slider .text-container .text-item a div {
  overflow: hidden;
}
#ecoist-slider .text-container .text-item a div span {
  display: block;
  transition: .6s;
}
#ecoist-slider .text-container .text-item a:hover div span {
  color: white;
}
#ecoist-slider .text-container .text-item h2 span {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  display: inline-block;
  color: #EE2A7B;
}
@keyframes a_a {
  from { transform: translate(0,0); }
  to { transform: translate(0,100%); }
}
@keyframes a_b {
  from { transform: scale(1); opacity: 1; }
  to { transform: scale(0.5); opacity: 0; }
}
@keyframes a_c {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes b_a {
  from { transform: translate(0,100%); }
  to { transform: translate(0,0); }
}
@keyframes b_b {
  from { transform: scale(0.5); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
@keyframes b_c {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes b_d {
  from { transform: translate(0,20px); opacity: 0; }
  to { transform: translate(0,0px); opacity: 1; }
}
@media (max-width: 1599px) {
  #ecoist-slider {
    margin-bottom: 104px;
  }
}
@media (max-width: 1365px){
  #ecoist-slider {
    margin-bottom: 69px;
  }
}
@media (max-width: 1023px){
  #ecoist-slider .slider-container {
    width: 114vw;
    padding-top: 44.3%;
    position: relative;
    margin-left: -7vw;
  }
  #ecoist-slider {
    margin-bottom: 89px;
  }
}
@media (max-width: 767px) {
  /*#ecoist-slider {
      width: 114vw;
      position: relative;
      margin-left: -7vw;
  }*/
  #ecoist-slider {
    margin-bottom: 55px;
  }
  #ecoist-slider .slider-container {
    padding-top: 107.3%;
    padding-top: 57.3%;
    width: 114vw;
    position: relative;
    margin-left: -7vw;
  }
  #ecoist-slider .slide-dots .slide-dot {
    width: 40px;
    height: 40px;
  }
  #ecoist-slider .slide-dots .slide-dot svg {
    transform: scale(0.8);
  }
}
#cursor {
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 20;
  overflow: hidden;
  border-radius: 50%;
  pointer-events: none;
}
.mobile #cursor {
  display: none !important;
}
#cursor.active {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  -moz-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
}
#cursor .content {
  background: white;
  transition: .6s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#cursor .content div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  transform: scale(0);
  transition: .3s 0s;
}
#cursor.play-btn .content div.play {
  transform: scale(1);
  transition-delay: 0.3s;
}
#cursor.prev-btn .content div.prev {
  transform: scale(1);
  transition-delay: 0.3s;
}
#cursor.next-btn .content div.next {
  transform: scale(1);
  transition-delay: 0.3s;
}
#cursor .content .play svg {
  width: 30px;
  height: 30px;
}
#cursor.active .content {
  opacity: 1;
}
#ecoist-slider .heading {
  text-align: center;
}
#ecoist-slider .heading h2 {
  /*backface-visibility: hidden;*/
}
#ecoist-slider .heading .text {
  margin-bottom: 25px;
}
@keyframes focused {
  from { transform: scale(1); }
  50% { transform: scale(0.7); }
  100% { transform: scale(1); }
}
.focused {
  animation: focused .3s both;
}
#ecoist-popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999999;
}
#ecoist-popup.active {
  pointer-events: all;
}
#ecoist-popup .popup {
  pointer-events: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 37, 98, 0.9);
  transition: .6s;
}
#ecoist-popup .popup video {
  width: 90vw;
  height: 80vh;
  position: absolute;
  top: 10vh;
  object-fit: cover;
  left: 5vw;
  background: red;
}
#ecoist-popup .popup.active {
  opacity: 1;
  pointer-events: all;
}
#ecoist-popup .popup .close-svg {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: .4s;
  line-height: 0;
}
#ecoist-popup .popup .close-svg:hover {
  transform: rotate(180deg)
}
/* END OF _ECOIST-SLIDER */

/* START OF _ANIMATIONS */
/* START OF _ANIMATIONS */
.kfn_anim {
  visibility: visible;
}
.kfn_anim.active-kfn {
  visibility: visible;
}
.k-slideUp {
  transform: translate3d(0, 100%, 0);
}
.kfn_anim.active-kfn.k-slideUp {
  transform: translate3d(0, 0, 0);
  transition: 1s;
}

.k-fadeUp {
  transform: translate3d(0, 100px, 0);
  opacity: 0;
}
.kfn_anim.active-kfn.k-fadeUp {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 1s;
}

.k-fadeRight {
  transform: translate3d(100px, 0, 0);
  opacity: 0;
}
.kfn_anim.active-kfn.k-fadeRight {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 1s;
}

.k-fadeLeft {
  transform: translate3d(-100px, 0, 0);
  opacity: 0;
}
.kfn_anim.active-kfn.k-fadeLeft {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 1s;
}

.k-scale {
  transform: scale(0);
}
.kfn_anim.active-kfn.k-scale {
  transform: scale(1);
  transition: 1s;
}

.k-fadeIn {
  opacity: 0;
}
.kfn_anim.active-kfn.k-fadeIn {
  opacity: 1;
  transition: 1s;
}

.k-zoomOut {
  transform: scale(1.2);
}
.kfn_anim.active-kfn.k-zoomOut {
  transform: scale(1);
  transition: 1s;
}
@keyframes ecoist-one {
  from { transform: translate(100%,0) scale(0.55); opacity: 0.5 }
  to { transform: translate(0,0) scale(1); opacity: 1 }
}
@keyframes ecoist-two {
  from { transform: translate(0%,0) scale(0.3); opacity: 0 }
  to { transform: translate(100%,0) scale(0.55); opacity: .5 }
}
@keyframes ecoist-three {
  from { transform: translate(0%,0) scale(1); opacity: 1 }
  to { transform: translate(-100%,0) scale(0.55); opacity: .5 }
}
@keyframes ecoist-four {
  from { transform: translate(-100%,0) scale(0.55); opacity: .5 }
  to { transform: translate(0%,0) scale(.3); opacity: 0 }
}
#ecoist-slider.active-kfn .slider-container .item:nth-child(1) {
  animation: ecoist-one 1s cubic-bezier(0.52, 0, 0.25, 0.99);
}
#ecoist-slider.active-kfn .slider-container .item:nth-child(2) {
  animation: ecoist-two 1s cubic-bezier(0.52, 0, 0.25, 0.99);
}
#ecoist-slider.active-kfn .slider-container .item:last-child {
  animation: ecoist-three 1s cubic-bezier(0.52, 0, 0.25, 0.99);
}
#ecoist-slider.active-kfn .slider-container .item:nth-last-child(2) {
  animation: ecoist-four 1s cubic-bezier(0.52, 0, 0.25, 0.99);
}
#ecoist-slider .text-container .text-item h2 {
  opacity: 0;
  transform: scale(0.7);
  transition: 1s;
}
#ecoist-slider .text-container.active-kfn .text-item h2 {
  opacity: 1;
  transform: scale(1);
}
#ecoist-slider .text-container .text-item .text {
  opacity: 0;
  transform: translate(0,20px);
  transition: 1s;
}
#ecoist-slider .text-container.active-kfn .text-item .text {
  opacity: 1;
  transform: translate(0,0px);
}
#ecoist-slider .text-container .text-item a span {
  /*opacity: 0;*/
  transform: translate(0,100%);
  transition: 1s;
}
#ecoist-slider .text-container.active-kfn .text-item a span {
  opacity: 1;
  transform: translate(0,0px);
}
#ecoist-slider .text-container .text-item a {
  opacity: 0;
}
#ecoist-slider .text-container.active-kfn .text-item a {
  opacity: 1;
}
/* END OF _ANIMATION */

/* START OF _ECOIST-PAGE */

.ecoist-page-container .heading {
  display: flex;
  align-items: center;
  margin-bottom: 128px;
}
.ecoist-page-container .heading .side {
  position: relative;
  width: 50%;
}
.ecoist-page-container .heading .side:nth-child(1){
  padding-right: 15px;
}
.ecoist-page-container .heading .side:nth-child(2){
  padding-left: 15px;
}
.ecoist-page-container .heading .side .image {
  padding-top: 114%;
  position: relative;
  overflow: hidden;
}
.ecoist-page-container .heading .side .image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.ecoist-page-container .main-container .row {
  display: flex;
  align-items: center;
  margin-bottom: 128px;
}
.ecoist-page-container .main-container .row:nth-child(even) {
  flex-direction: row-reverse;
}
.ecoist-page-container .main-container .row:nth-child(even) .side:nth-child(1) {
  padding-left: 15px;
}
.ecoist-page-container .main-container .row:nth-child(even) .side:nth-child(2) {
  padding-right: 15px;
}
.ecoist-page-container .main-container .row:nth-child(odd) .side:nth-child(1) {
  padding-right: 15px;
}
.ecoist-page-container .main-container .row:nth-child(odd) .side:nth-child(2) {
  padding-left: 15px;
}
.ecoist-page-container .main-container .row .side {
  width: 50%;
}
.ecoist-page-container .main-container .row .side .image {
  padding-top: 98%;
  position: relative;
  overflow: hidden;
}
.ecoist-page-container .main-container .row .side .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  position: absolute;
}
.ecoist-page-container .main-container .row .side .text {
  margin-bottom: 27px;
}
.ecoist-page-container .main-container .row .side a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.ecoist-page-container .main-container .row .side a .circle {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: white;
  margin-right: 17px;
  box-shadow: 0px 0px 20px 0px rgba(0,153,255,0.1);
}
.ecoist-page-container .main-container .row .side a span {
  transition: .6s;
}
.ecoist-page-container .main-container .row .side a:hover span {
  color: #ef3582;
}
@media (max-width: 767px){
  .ecoist-page-container .heading .side:nth-child(1) {
    padding-right: 0;
    width: 100%;
    margin-bottom: 30px;
  }
  .ecoist-page-container .heading .side:nth-child(2) {
    padding-left: 0;
    width: 100%;
  }
  .ecoist-page-container .heading {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .ecoist-page-container .main-container .row {
    margin-bottom: 60px;
  }
  .ecoist-page-container .main-container .row:nth-child(odd) .side:nth-child(1) {
    padding-right: 0;
  }
  .ecoist-page-container .main-container .row:nth-child(odd) .side:nth-child(2) {
    padding-left: 0;
  }
  .ecoist-page-container .main-container .row:nth-child(even) .side:nth-child(1) {
    padding-left: 0;
  }
  .ecoist-page-container .main-container .row:nth-child(even) .side:nth-child(2) {
    padding-right: 0;
  }
  .ecoist-page-container .main-container .row {
    flex-direction: column-reverse;
  }
  .ecoist-page-container .main-container .row:nth-child(even) {
    /*flex-direction: column;*/
  }
  .ecoist-page-container .main-container .row .side {
    width: 100%;
  }
  .ecoist-page-container .main-container .row:nth-child(odd) .side:nth-child(2) {
    margin-bottom: 30px;
  }
  .ecoist-page-container .main-container .row:nth-child(even) .side:nth-child(2) {
    margin-bottom: 30px;
  }
  .ecoist-page-container .main-container .row:nth-child(even) {
    flex-direction: column-reverse;
  }
}

/* END OF _ECOIST-PAGE */

/* START OF _ABOUT-SLIDER */
.about-container {
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding: 0 102px;
}
.about-container .swiper-container {
  overflow: visible !important;
}
.about-container .swiper-container .image {
  padding-top: 40.6%;
  position: relative;
  display: flex;
  align-items: center;
  background: #292562;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.about-container .swiper-container .image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: .6s;
  opacity: 0.8;
}
.about-container .swiper-container .image:hover img {
  opacity: 0.6;
}
.about-container .swiper-container .image h2 {
  z-index: 10;
  position: relative;
  color: white;
  position: absolute;
  top: 50%;
  padding: 0 50px;
  transform: translate(0,-50%);
}
.about-container .swiper-container .swiper-slide {
  transform: scale(0.86);
  opacity: 0.5;
  transition: .6s;
}
.about-container .swiper-container .swiper-slide.swiper-slide-next {
  transform-origin: left;
}
.about-container .swiper-container .swiper-slide.swiper-slide-prev {
  transform-origin: right;
}
.about-container .swiper-container .swiper-slide.swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}
.about-container .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  z-index: 3;
  position: relative;
}
.about-container .buttons .button {
  width: 322px;
  margin: 0 23.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: white;
  position: relative;
  border-radius: 8px;
  transition: .6s;
}
.about-container .buttons .button span {
  transition: .6s;
}
.about-container .buttons .button:hover {
  background: #292562;
}
.about-container .buttons .button:hover span {
  color: white;
}
.about-container .buttons .button:after {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  left: 30px;
  border-radius: 50%;
}
.about-container .buttons .button:nth-child(1):after {
  background: #6768FF;
}
.about-container .buttons .button:nth-child(2):after {
  background: #EE2A7B;
}
.about-container .buttons .button:nth-child(3):after {
  background: #FCB618;
}
.swiper-button-prev_ {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  z-index: 100;
  top: 50%;
  position: absolute;
  margin-top: -35px;
  margin-left: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  -moz-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  transition: .4s;
}
.swiper-button-prev_:hover {
  transform: scale(1.1);
}
.swiper-button-next_ {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  z-index: 100;
  top: 50%;
  position: absolute;
  margin-top: -35px;
  margin-right: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  -moz-box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  box-shadow: 0px 0px 30px 0px rgba(238,42,123,0.15);
  transition: .4s;
  right: 0;
}
.swiper-button-next_:hover {
  transform: scale(1.1);
}
.about-container .swiper-button-disabled {
  opacity: 0;
}
@media (max-width: 1365px){
  .about-container {
    padding: 0 71px;
  }
}
@media (max-width: 1023px){
  .about-container {
    padding: 0 33px;
  }
  .swiper-button-next_ {
    width: 40px;
    height: 40px;
    margin-right: -20px;
    margin-top: -20px;
  }
  .swiper-button-next_ svg {
    width: 20px;
    height: 20px;
  }
  .swiper-button-prev_ {
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
  }
  .swiper-button-prev_ svg {
    width: 20px;
    height: 20px;
  }
  .about-container .buttons .button {
    margin: 0 8.5px;
    height: 60px;
  }
  .about-container .buttons .button:after {
    left: 20px;
  }
}
@media (max-width: 767px){
  .about-container {
    padding: 0 16px;
  }
  .about-container .buttons {
    flex-direction: column;
    margin-top: 20px;
  }
  .about-container .buttons .button {
    width: 90%;
    margin-bottom: 10px;
  }
  .about-container .swiper-container .image h2 {
    max-width: 90%;
  }
  .about-container .swiper-container .image {
    padding-top: 60.6%;
  }
  .about-container .buttons .button span {
    font-size: 16px;
  }
}

/* END OF _ABOUT-SLIDER */

/* START OF _AWARDS */

body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
.awards-container {
    width: 100%;
    position: relative;
    padding: 0 100px;
}
.awards-container .heading h2 {
    text-align: center;
}
.awards-container .main-content {
    padding: 20px 85px;
    margin-top: 55px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.05);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.05);
    box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.05);
    background: white;
    border-radius: 8px;
}
.awards-container .main-content .row {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.awards-container .main-content .row .side {
    width: 50%;
    padding: 40px 0;
    position: relative;
}
.awards-container .main-content .row .side:nth-child(odd) {
    padding-right: 30px;
}
.awards-container .main-content .row .side:nth-child(even) {
    padding-left: 150px;
}
.awards-container .main-content .row svg.drop-line {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
}
.awards-container .main-content .row svg.center-line {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0,-50%);
}
.awards-container .main-content .row .side h2 {
    transition: .6s;
}
.awards-container .main-content .row .side a:hover h2 {
    color: #EE2A7B;
}
.awards-container .main-content .row .side .desc {
    display: flex;
    align-items: flex-start;
}
.awards-container .main-content .row .side .desc .year {
    color: #EE2A7B;
    margin-right: 5px;
}
.awards-container .main-content .row:last-child svg.drop-line {
    display: none;
}
.awards-container .main-content .row .side svg {
  display: none;
}
@media (max-width: 1599px){
  .awards-container .main-content .row .side:nth-child(even) {
    padding-left: 50px;
  }
  .awards-container .main-content {
    padding: 20px 45px;
  }
  .awards-container .main-content {
    margin-top: 25px;
  }
}
@media (max-width: 1365px){
  .awards-container {
    padding: 0 71px;
  }
}
@media (max-width: 1023px){
  .awards-container {
    padding: 0 33px;
  }
  .awards-container .main-content .row {
    flex-direction: column;
  }
  .awards-container .main-content .row .side {
    padding-top: 0;
    padding: 20px 0;
    width: 100%;
    padding-bottom: 0;
  }
  .awards-container .main-content .row .side:nth-child(even) {
    padding-left: 0;
  }
  .awards-container .main-content .row svg.drop-line {
    display: none;
  }
  .awards-container .main-content .row svg.center-line {
    display: none;
  }
  .awards-container .main-content .row:last-child .side:nth-child(2) svg {
    display: none;
  }
  .awards-container .main-content .row .side svg {
    display: inline;
  }
}
@media (max-width: 767px){
  .awards-container {
    padding: 0 17px;
  }
  .awards-container .main-content {
    padding: 20px;
  }
  .awards-container .main-content .row .side:nth-child(odd) {
    padding-right: 0;
  }
}

/* END OF _AWARDS */

/* START OF _VIDEO-CONTAINER */

.kfn-video-container {
  position: relative;
}
.kfn-video-container .wrapper {
  position: relative;
  width: 100%;
  padding-top: 39%;
  background: #292562;
  border-radius: 8px;
  overflow: hidden;
}
.kfn-video-container .wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}
.kfn-video-container .wrapper h2 {
  position: absolute;
  width: 50%;
  z-index: 3;
  top: 50%;
  left: 0;
  padding-left: 112px;
  transform: translate(0,-50%);
  color: white;
}
.kfn-video-container .wrapper #open-video {
  position: absolute;
  top: 50%;
  right: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  transform: translate(0,-50%);
  border: 1px solid white;
  width: 164px;
  height: 164px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.kfn-video-container .wrapper #open-video svg {
  position: relative;
  z-index: 3;
}
.kfn-video-container .wrapper #open-video .bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.3;
} 
.kfn-video-container .wrapper #open-video .hover-bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #EE2A7B;
  opacity: 0;
  transition: .6s;
} 
.kfn-video-container .wrapper #open-video:hover .hover-bg {
  opacity: 1;
}
#video-container-popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
  pointer-events: none;
  opacity: 0;
  transition: .4s;
  padding: 80px;
  background: rgba(41, 37, 98, 0.9);
}
#video-container-popup.active {
  pointer-events: all;
  opacity: 1;
}
#video-container-popup .video {
  width: calc(100% - 80px);
  height: calc(100vh - 80px);
  left: 40px;
  position: absolute;
  top: 40px;
}
#video-container-popup .video video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
#close-video-container {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#close-video-container svg {
  transition: .6s;
}
#close-video-container:hover svg {
  transform: rotate(180deg)
}
@media (max-width: 1599px){
  .kfn-video-container .wrapper #open-video {
    width: 147px;
    height: 147px;
  }
}
@media (max-width: 1365px){
  .kfn-video-container .wrapper #open-video {
    width: 111px;
    height: 111px;
    right: 77px;   
  }
  .kfn-video-container .wrapper #open-video svg {
    width: 22px;
    height: 25px;
  }
  .kfn-video-container .wrapper h2 {
    padding-left: 77px;
  }
}
@media (max-width: 1023px){
  .kfn-video-container .wrapper #open-video {
    width: 88px;
    height: 88px;
    right: 62px;
  }
  .kfn-video-container .wrapper h2 {
    padding-left: 62px;
  }
}
@media (max-width: 767px){
  .kfn-video-container .wrapper {
    padding-top: 0%;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .kfn-video-container .wrapper h2 {
    position: relative;
    padding-left: 28px;
    width: 100%;
    transform: unset;
  }
  .kfn-video-container .wrapper #open-video {
    position: relative;
    width: 80px;
    height: 80px;
    right: unset;
    top: unset;
    right: unset;
    left: unset;
    transform: unset;
    margin-left: 28px;
    margin-bottom: 18px;
  }
  .kfn-video-container .wrapper #open-video svg {
    width: 16px;
    height: 18px;
  }
  
}

/* END OF _VIDEO-CONTAINER */

/* START OF _SMART-BOX */

.smart-box-container.container {
  position: relative;
  display: flex;
  display: none;
  padding-right: 145px;
  padding-top: 70px;
}
.smart-box-container .left-side {
  width: 836px;
  padding-top: 36px;
  position: relative;
  z-index: 3;
}
.smart-box-container .right-side {
  width: calc(100% - 836px);
  padding-left: 113px;
  position: relative;
  z-index: 3;
}
.smart-box-container .left-side .smart-box {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,153,255,0.05);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,153,255,0.05);
  box-shadow: 0px 0px 40px 0px rgba(0,153,255,0.05);
  /*border: 1px solid rgba(145, 153, 180, 0.7);*/
  border-radius: 8px;
}
.smart-box-container .left-side .smart-box .heading {
  border: 1px solid rgba(145, 153, 180, 0.7);
  border-radius: 8px;
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 30px 80px;
  position: relative;
  z-index: 3;
  padding-bottom: 0;
}
.smart-box-container .left-side .smart-box .heading h2 {
  overflow: hidden;
}
.smart-box-container .left-side .smart-box .heading h2 span {
  display: block;
  transition: 1s;
}
.smart-box-container .left-side .smart-box .heading .tabs-container {
  width: 100%;
  position: relative;
}
.smart-box-container .left-side .smart-box .heading .tabs-container ul {
  display: flex;
  position: relative;
}
.smart-box-container .left-side .smart-box .heading .tabs-container ul li {
  margin-right: 40px;
  padding: 13px 0;
  position: relative;
  transition: .6s;
  cursor: pointer;
}
.smart-box-container .left-side .smart-box .heading .tabs-container ul li.active , .smart-box-container .left-side .smart-box .heading .tabs-container ul li:hover {
  color: #EE2A7B;
}
.smart-box-container .left-side .smart-box .heading .tabs-container ul li:after {
  content: '';
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  height: 3px;
  border-radius: 10px;
  background: #EE2A7B;
  transition: .6s;
  opacity: 0;
  margin-top: -1px;
}
.smart-box-container .left-side .smart-box .heading .tabs-container ul li.active:after , .smart-box-container .left-side .smart-box .heading .tabs-container ul li:hover:after {
  opacity: 1;
}
.smart-box-container .left-side .smart-box .slider-container {
  position: relative;
  border: 1px solid rgba(145, 153, 180, 0.7);
  border-radius: 0 0 8px 8px;
  border-top: 0;
  transition: 1s;
}
.smart-box-container .left-side .smart-box .slider-container:after {
  content: '';
  height: 1px;
  background: #9199B4;
  position: absolute;
  left: 25px;
  right: 25px;
  top: 0;
}
.smart-box-container .left-side .smart-box .slider-container .sliders {
  position: relative;
  padding: 0 60px;
}
.smart-box-container .left-side .smart-box .slider-container .sliders .slider {
  display: none;
}
.smart-box-container .left-side .smart-box .slider-container .sliders .slider.active {
  display: block;
}
.smart-box-container .left-side .smart-box .slider-container .sliders .slider .slide-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 37px;
}
.smart-box-container .left-side .smart-box .slider-container .sliders .slider .slide-arrows div {
  margin: 0 22px;
  cursor: pointer;
}
.smart-box-container .left-side .smart-box .slider-container .sliders .slider .slide-arrows div svg line {
  transition: .5s;
}
.smart-box-container .left-side .smart-box .slider-container .sliders .slider .slide-arrows div:hover svg line {
  stroke: #EE2A7B;
}
.smart-box-container .right-side .image-container {
  width: 100%;
  position: relative;
  padding-top: 153%;
}
.smart-box-container .right-side .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}
.smart-box-container .slider--container {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 135%;
  background: red;
}
.smart-box-container .slider--container .item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #FCB618;
}
.smart-box-container .slider--container .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: hard-light;
}
.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transform: translate(0,-1%);
  width: calc(100% - 100px);
  line-height: 0;
  z-index: 2;
  overflow: hidden;
  display: none;
}
.ribbon img {
  width: 100%;
  /*margin-top: -16%;*/
  position: relative;
  display: block;
}
@media (max-width: 1599px){
  .smart-box-container .left-side {
    width: 714px;
  }
  .smart-box-container .right-side {
    width: calc(100% - 714px);
    padding-left: 67px;
  }
}
@media (max-width: 1365px) {
  .smart-box-container .left-side {
    width: 578px;
    padding-top: 0;
  }
  .smart-box-container .right-side {
    width: calc(100% - 578px);
    padding-left: 30px;
  }
  .smart-box-container.container {
    padding-top: 35px;
    padding-right: 71px;
  }
}

/* END OF _SMART-BOX */

/* START OF _VACANCY */

.directHeadContainer .white--container {
  width: 100%;
  background: white;
  padding: 40px 82px;
  padding-top: 50px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.05);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.05);
  box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.05);
  margin-bottom: 80px;
}
.directHeadContainer.vacancy .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 27px;
}
.directHeadContainer.vacancy.resume .heading {
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 60px;
}
.directHeadContainer.vacancy.resume .heading .text {
  margin-top: 60px;
}
.directHeadContainer.vacancy .heading .term span {
  display: inline-flex;
  margin-left: 10px;
}
.directHeadContainer.vacancy .heading img {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  opacity: 0.5;
}
.directHeadContainer.vacancy .form-container {
  width: 100%;
  padding-top: 30px;
  display: flex;
  /*align-items: flex-start;*/
  justify-content: space-between;
  position: relative;
}
.directHeadContainer.vacancy.resume .form-container {
  padding-top: 60px;
}
.directHeadContainer.vacancy .form-container .side {
  position: relative;
  overflow: hidden;
}
.directHeadContainer.vacancy .form-container .side:nth-child(1) {
  width: calc(100% - 610px);
  padding-right: 85px;
}
.directHeadContainer.vacancy.resume .form-container .side:nth-child(1) {
  width: 100%;
  padding-right: 220px;
  padding-left: 220px;
}
.directHeadContainer.vacancy .form-container .side:nth-child(2) {
  width: 610px;
  padding-left: 85px;
}
.directHeadContainer.vacancy .form-container .side #line {
  position: absolute;
  left: 0;
  top: 0;
}
.directHeadContainer.vacancy .form-container .side #linkedIn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 67px;
  background: #2B6CB0;
  border-radius: 8px;
  transition: .6s;
  margin-top: 21px;
}
.directHeadContainer.vacancy .form-container .side #linkedIn:hover {
  background: #1E5691;
}
.directHeadContainer.vacancy .form-container .side #linkedIn img {
  margin-right: 20px;
}
.directHeadContainer.vacancy .form-container .side #linkedIn span {
  color: white;
}
.directHeadContainer.vacancy .form-container .side form {
  margin-top: 30px;
}
.directHeadContainer.vacancy.resume form {
  display: flex;
  flex-wrap: wrap;
}
.directHeadContainer.vacancy.resume form .input {
  width: 50%;
}
.directHeadContainer.vacancy.resume form .input:nth-child(odd) {
  padding-right: 30px;
}
.directHeadContainer.vacancy.resume form .input:nth-child(even) {
  padding-left: 30px;
}
.directHeadContainer.vacancy.resume form .input.textarea {
  width: 100%;
  padding-right: 0;
}
.directHeadContainer.vacancy.resume .white--container {
  padding-bottom: 60px;
}
form .input {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
form .input label {
  display: block;
}
form .input label span {
  display: inline-flex;
  margin-left: 5px;
  color: #EE2A7B;
}
form .input input , form .input textarea {
  margin-top: 10px;
  resize: none;
  outline: none;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid rgba(145, 153, 180, 0.7);
  padding-left: 15px;
}
form .input textarea {
  height: 100px;
}
form .input .error {
  color: #EE2A7B;
  margin-top: 5px;
  display: none;
}
form .input.errored .error {
  display: block;
}
form .input .content {
  margin-top: 10px;
  position: relative;
  height: 50px;
}
form .input .content .file-name {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding: 0 30px;
  pointer-events: none;
}
form .input .content .file-name img {
  all: unset;
  pointer-events: all;
  cursor: pointer;
  transition: .6s;
  backface-visibility: hidden;
}
form .input .content .file-name img:hover {
  transform: rotate(180deg)
}
form .input .content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  height: 100%;
  pointer-events: none;
}
form .input .content h2 {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  color: #9199B4;
}
form .input .content input {
  margin-top: 0;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.agree {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.agree a {
  text-decoration: underline;
}
.agree .checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.agree .checkbox input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.agree .checkbox.active .box {
  background: #EE2A7B;
}
.agree .checkbox.active .box img {
  opacity: 1;
}
.agree .checkbox .box {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  border: 2px solid #EE2A7B;
  border-radius: 4px;
  transition: .4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.agree .checkbox .box img {
  transition: .4s;
  opacity: 0;
}
@media (max-width: 1900px){
  .directHeadContainer.vacancy.resume .form-container .side:nth-child(1){
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (max-width: 1500px){
  .directHeadContainer.vacancy .form-container .side:nth-child(2) {
    width: 510px;
    padding-left: 40px;
  }
  .directHeadContainer.vacancy .form-container .side:nth-child(1) {
    width: calc(100% - 510px);
    padding-right: 40px;
  }
}
@media (max-width: 1365px){
  .directHeadContainer.vacancy .form-container .side:nth-child(2) {
    width: 50%;
    padding-left: 20px;
  }
  .directHeadContainer.vacancy .form-container .side:nth-child(1) {
    width: 50%;
    padding-right: 20px;
  } 
  .directHeadContainer .white--container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .directHeadContainer.vacancy.resume .form-container .side:nth-child(1) {
    padding-left: 60px;
    padding-right: 60px;
  }
  .directHeadContainer.vacancy.resume form .input:nth-child(odd) {
    padding-right: 15px;
  }
  .directHeadContainer.vacancy.resume form .input:nth-child(even) {
    padding-left: 15px;
  }
  .directHeadContainer.vacancy.resume form .input.textarea {
    padding-right: 0;
  }
}
@media (max-width: 1023px){
  .directHeadContainer.vacancy .heading {
    flex-direction: column;
    align-items: flex-start;
  }
  .directHeadContainer.vacancy .heading .term span {
    margin-right: 10px;
    margin-left: 0;
  }
  .directHeadContainer.vacancy .form-container {
    flex-direction: column;
  }
  .directHeadContainer.vacancy .form-container .side {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 30px;
  }
  .directHeadContainer.vacancy .form-container .side #line {
    display: none;
  }
}
@media (max-width: 767px){
  .directHeadContainer.vacancy .form-container .side #linkedIn {
    height: auto;
    padding: 10px;
  }
  .directHeadContainer.vacancy.resume form .input {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
.vacancy-page-type .directionHeadTab img {
  margin-right: 10px;
}
.vacancy-page-type .directionHeadTab span {
  color: white;
}
.vacancy-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.vacancy-footer .socials {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.vacancy-footer .socials span {
  margin-right: 20px;
  display: flex;
}
.vacancy-footer .socials a {
  margin-right: 11px;
  display: flex;
}
.vacancy-footer .socials a img {
  transition: .4s;
  backface-visibility: hidden;
}
.vacancy-footer .socials a:hover img {
  transform: scale(1.1);
}
.vacancy-footer .back a {
  display: inline-flex;
  align-items: center;
}
.vacancy-footer .back a img {
  margin-right: 18px;
  transition: .6s;
}
.vacancy-footer .back a:hover img {
  transform: translate(-10px,0);
}
@media (max-width: 767px) {
  .vacancy-footer .back {
    display: none;
  }
  .vacancy-footer {
    margin-top: 0;
  }
}

/* END OF _VACANCY */

/* START OF _SUGGESSTION */
.directHeadContainer.vacancy .header .text {
  margin-top: 34px;
}
.directHeadContainer.vacancy .main-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  margin-bottom: 84px;
}
.directHeadContainer.vacancy .main-container .item {
  width: 50%;
  margin-bottom: 60px;
}
.directHeadContainer.vacancy .main-container .item:nth-child(odd) {
  padding-right: 30px;
}
.directHeadContainer.vacancy .main-container .item:nth-child(even) {
  padding-left: 30px;
}
.directHeadContainer.vacancy .main-container .item .box {
  display: block;
  width: 100%;
}
.directHeadContainer.vacancy .main-container .item .box .image {
  padding-top: 54%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 30px;
}
.directHeadContainer.vacancy .main-container .item .box .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .6s;
}
.directHeadContainer.vacancy .main-container .item .box:hover .image img {
  transform: scale(1.1);
}
.directHeadContainer.vacancy .main-container .item .box .text-container {
  width: 100%;
  position: relative;
  padding: 30px 30px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: white;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
  box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
}
.directHeadContainer.vacancy .main-container .item .box .text-container .side {
  position: relative;
}
.directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(1){
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}
.directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(1) img:nth-child(1) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(2){
  width: calc(100% - 140px);
  padding-left: 30px;
}
.directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(1) #line {
  position: absolute;
  right: 0;
}
.directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(2) h2 span {
  all: inherit;
  color: #EE2A7B;
  display: inline-flex;
}
.directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(2) .foot {
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}
.directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(2) .foot > div {
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(2) .foot .address {
  color: #9199B4;
}
.directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(2) .foot .tel * {
  color: #9199B4;
}
.directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(2) .foot .tel a {
  margin-left: 5px;
  transition: .6s;
}
.directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(2) .foot .tel a:hover {
  color: #C20B56;
}
.directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(2) .foot .webpage a {
  text-decoration: underline;
  color: #6768FF;
  transition: .6s;
}
.directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(2) .foot .webpage a:hover {
  color: #C20B56;
}
.directHeadContainer.vacancy.suggesstion .line {
  width: 100%;
  height: 1px;
  background: #9199B4;
  opacity: 0.5;
}
@media (max-width: 1500px){
  .directHeadContainer.vacancy .main-container .item .box .text-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(2) {
    width: 100%;
    padding-left: 0;
  }
  .directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(1) #line {
    display: none;
  }
  .directHeadContainer.vacancy .main-container .item .box .text-container .side:nth-child(1) {
    margin-bottom: 10px;
  }
}
@media (max-width: 1365px){
  .directHeadContainer.vacancy .main-container {
    margin-bottom: 34px;
  }
}
@media (max-width: 1023px){
  .directHeadContainer.vacancy .main-container .item:nth-child(odd) {
    padding-left: 10px;
  }
  .directHeadContainer.vacancy .main-container .item:nth-child(even) {
    padding-right: 10px;
  }
}
@media (max-width: 767px){
  .directHeadContainer.vacancy .main-container .item {
    width: 100%;
    padding: 0 !important;
  }
  .directHeadContainer.vacancy .main-container .item .box .text-container {
    padding: 10px;
  }
}

/* END OF _SUGGESSTION */

/* START OF _PARTNERS-SLIDER */

.partners-slider-container {
  text-align: center;
}
.partners-slider-container .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.partners-slider-container .swiper-container {
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
  box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
  margin-top: 33px;
}
.partners-slider-container .swiper-slide {
  padding: 52px;
}
.partners-slider-container .swiper-slide svg {
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translate(0,-50%);
  opacity: .5;
}
@media (max-width: 1365px) {
  .partners-slider-container .swiper-slide {
    padding: 30px;
  }
}

/* END OF _PARTNERS-SLIDER */