

/*=================== h_security_about_area css =============*/
.h_security_about_area {
    background: #fafbfc;
    position: relative;
    z-index: 0;
}
.h_security_about_area:before {
    content: "";
    width: 150%;
    height: 460px;
    background: #fafbfc;
    position: absolute;
    z-index: -5;
    transform: rotate(-10.9deg);
    top: -215px;
    right: -171px;
    z-index: -1;
}
.h_security_about_area .h_analytices_content ul {
    border-top: 0px;
    padding-top: 0;
}

.h_analytices_features_item.flex-row-reverse .h_security_img:before {
    left: auto;
    right: 20px;
    background: #edb4cb;
}
.h_analytices_features_item.flex-row-reverse .h_security_img img {
    box-shadow: 15px 25.981px 60px 0px rgba(1, 1, 64, 0.14);
}

.h_security_img {
    position: relative;
    z-index: 0;
}
.h_security_img:before {
    content: "";
    position: absolute;
    width: 70px;
    top: 60px;
    bottom: 60px;
    left: 20px;
    background: #b1ceeb;
    z-index: -1;
}
.h_security_img img {
    box-shadow: -15px 25.981px 60px 0px rgba(1, 1, 64, 0.14);
}

/*=================== h_security_about_area css =============*/
/*============= pos_banner_area css ===========*/
.ticket_area {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.ticket_area .ticket_shap {
    content: "";
    width: 100%;
    height: 730px;
    position: absolute;
    right: 0;
    top: 0;
    background-position: right, right !important;
    background-repeat: no-repeat !important;
}
.ticket_area .pattern {
    position: absolute;
    right: 0;
    top: 0;
    width: 225px;
    height: 125px;
}
.ticket_area .container {
    display: flex;
    flex-wrap: wrap;
}

.ticket_item {
    background: #fff;
    padding: 30px 50px 70px;
    box-shadow: 0px 50px 100px 0px rgba(5, 1, 64, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    width: calc(84% / 3);
    position: relative;
}
.ticket_item:before {
    content: "";
    width: 100%;
    height: 10px;
    background: url("../img/pos/shape_bg.png") no-repeat scroll center bottom/cover;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.ticket_item:after {
    bottom: 40px;
    content: "";
    position: absolute;
    left: -3px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, transparent 50%, #c9c9d6 50%);
    background-size: 10px 94%;
}
.ticket_item .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    background: #edfcec;
    margin-bottom: 25px;
}
.ticket_item .icon.pink {
    background: #feecfb;
}
.ticket_item .icon.yellow {
    background: #fefaec;
}
.ticket_item h2 {
    font-size: 44px;
    line-height: 35px;
    font-weight: 600;
    color: #2c2c51;
    text-transform: uppercase;
}
.ticket_item h2 span {
    font-weight: 500;
    color: #7b7b93;
    font-size: 18px;
    line-height: 30px;
    display: block;
    padding-top: 10px;
}
.ticket_item p {
    margin-bottom: 0;
    margin-top: 25px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 4px;
    color: #aaaabb;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 500;
}
.ticket_item + .ticket_item {
    margin-left: 8%;
}

.pos_developer_product_area {
    background: #fafafc;
}
.pos_developer_product_area .tab_img_info {
    z-index: 1;
}
.pos_developer_product_area .tab_img_info .tab_img {
    padding-bottom: 30px;
    overflow: visible;
    margin-left: -50px;
}
.pos_developer_product_area .tab_img_info .tab_img img {
    position: relative;
    z-index: 1;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.9s linear, opacity 0.2s linear;
}
.pos_developer_product_area .tab_img_info .tab_img .square {
    height: 100%;
    width: 0px;
    right: 90px;
    top: 0;
    background: #f3f3f9;
    z-index: 0;
    opacity: 0;
    transition: width 0.5s linear;
}
.pos_developer_product_area .tab_img_info .tab_img .bg_circle {
    width: 220px;
    background: #f4cfe5;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 5px;
    z-index: 0;
    transform: scale(0.5);
    opacity: 0;
    transition: all 0.7s linear;
}
.pos_developer_product_area .tab_img_info .tab_img .bg_circle.green {
    background: #c8ede9;
}
.pos_developer_product_area .tab_img_info .tab_img .bg_circle.pink {
    background: #f93e5e;
}
.pos_developer_product_area .tab_img_info .tab_img .bg_circle.yellow {
    background: #f9edcf;
}
.pos_developer_product_area .tab_img_info .tab_img .pattern_shap {
    top: auto;
    bottom: -30px;
    left: 100px;
    z-index: -1;
}
.pos_developer_product_area .tab_img_info .tab_img.active img {
    transform: scale(1);
    opacity: 1;
}
.pos_developer_product_area .tab_img_info .tab_img.active .square {
    opacity: 1;
    width: 350px;
    transform: translateX(0);
}
.pos_developer_product_area .tab_img_info .tab_img.active .bg_circle {
    opacity: 1;
    transform: scale(1);
}
.pos_developer_product_area .tab_img_info .tab_img .tab_round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #f9edcf;
    position: absolute;
    top: 100px;
    left: -20px;
}
.pos_developer_product_area .tab_img_info .tab_img .tab_triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 0 12.5px 20px;
    border-color: transparent transparent transparent #c8ede9;
    position: absolute;
    top: -15px;
    left: 170px;
    border-radius: 4px;
}
.pos_developer_product_area .developer_product_content {
    padding-right: 0px;
}
.pos_developer_product_area .developer_product_content .develor_tab {
    padding-left: 0;
    margin-bottom: 50px;
}
.pos_developer_product_area .developer_product_content .develor_tab .nav-item .nav-link {
    color: #2c2c51;
}
.pos_developer_product_area .developer_product_content .develor_tab .nav-item .nav-link:before {
    background: #8E70EE;
}
.pos_developer_product_area .developer_product_content .develor_tab .nav-item .nav-link.active {
    color: #8E70EE;
}
.pos_developer_product_area .developer_product_content h4 {
    color: #020230;
    font-weight: 600;
    margin-bottom: 32px;
}
.pos_developer_product_area .developer_product_content p {
    font-size: 16px;
    line-height: 28px;
    color: #020230;
    margin-bottom: 0;
}

.pos_item + .pos_item {
    margin-top: 150px;
}

.flex-row-reverse .pos_features_content {
    padding-right: 70px;
}
.pos_features_content {
    padding-top: 50px;
}
.pos_features_content h2 {
    font-size: 34px;
    color: #2c2c51;
    line-height: 44px;
    font-weight: 500;
    margin-bottom: 50px;
}
.pos_features_content .h_features_item {
    padding-right: 0;
}
.pos_features_content .h_features_item i {
    font-size: 24px;
    color: #bb3efc;
    margin-right: 15px;
}
.pos_features_content .h_features_item i.orange {
    color: #fb702b;
}
.pos_features_content .h_features_item i.green {
    color: #0ed1ca;
}
.pos_features_content .h_features_item i.red {
    color: #f826c0;
}
.pos_features_content .h_features_item i.check {
    color: #1ad90b;
}
.pos_features_content .h_features_item .h_head {
    font-weight: 500;
}
.pos_features_content .h_features_item p {
    color: #7b7b93;
}




.pos_features_img {
    padding: 40px 0px 80px;
    position: relative;
    text-align: center;
}
.pos_features_img .shape_img {
    width: 470px;
    background: #e0faf4;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    right: -50px;
    top: 0;
    z-index: -1;
}
.pos_features_img .shape_img.yellow {
    background: #fff7e5;
}
.pos_features_img .shape_img.blue {
    background: #e5f6ff;
}
.pos_features_img .shap_img {
    background: #99edd9;
    border-radius: 6px;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pos_features_img .shap_img.yellow {
    background: #ffe3a9;
}
.pos_features_img .shap_img.blue {
    background: #a9e2ff;
}
.pos_features_img.img_left .shape_img {
    left: -50px;
    right: auto;
}

.pos_about_area {
    background: #413c85;
    padding-top: 120px;
    display: flex;
}
.pos_about_area + section {
    padding-top: 200px;
}

.pos_about_img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 82px;
    margin-bottom: -140px;
}

.pos_about_list {
    column-count: 3;
    margin-bottom: 65px;
}
.pos_about_list li {
    font-size: 16px;
    color: #d0cfe6;
    line-height: 28px;
    position: relative;
    padding-left: 40px;
}
.pos_about_list li:before {
    content: "N";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 0;
    color: #1fc61a;
    font-size: 24px;
    font-family: eleganticons;
}
.pos_about_list li + li {
    margin-top: 40px;
}

.pos_subscribe .form-group {
    margin-bottom: 0;
}
.pos_subscribe .form-group input {
    width: 100%;
    border: 0px;
    height: 60px;
    border-radius: 5px;
    font-size: 16px;
    color: #2c2c51;
    padding-left: 30px;
}
.pos_subscribe .form-group input.placeholder {
    color: #bbbbce;
}
.pos_subscribe .form-group input:-moz-placeholder {
    color: #bbbbce;
}
.pos_subscribe .form-group input::-moz-placeholder {
    color: #bbbbce;
}
.pos_subscribe .form-group input::-webkit-input-placeholder {
    color: #bbbbce;
}
.pos_subscribe .btn_pos {
    background: #5f54fd;
    font-size: 16px;
    font-weight: 500;
    padding: 17px 37px;
    color: #fff;
}
.pos_subscribe .btn_pos:hover {
    background: #6b61fc;
    color: #fff;
}

.chat_area {
    padding: 60px 0px 150px;
    position: relative;
    z-index: 1;
}

.chat_content {
    padding-top: 40px;
}
.chat_content h2 {
    font-size: 34px;
    color: #2c2c51;
    font-weight: 500;
    line-height: 44px;
}
.chat_content .pos_btn {
    margin-top: 45px;
}

.chat_info {
    background: #fafaff;
    border-radius: 6px;
    height: 100%;
    align-items: center;
    padding: 77px 45px;
    border-left: 6px solid #5f54fd;
}
.chat_info img {
    margin-right: 46px;
}
.chat_info .date {
    font-size: 40px;
    font-weight: 700;
    color: #5f54fd;
    padding-bottom: 32px;
}
.chat_info .date span {
    font-weight: 400;
}
.chat_info h3 {
    font-size: 26px;
    line-height: 36px;
    color: #2c2c51;
    font-weight: 500;
}
.chat_info .pos_service_btn {
    margin-top: 32px;
}

.pos_service_btn {
    font-size: 16px;
    font-weight: 500;
    color: #5f54fd;
    line-height: 18px;
    display: inline-block;
    position: relative;
}
.pos_service_btn:before {
    content: "";
    width: 0;
    height: 1px;
    background: #5f54fd;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s linear;
}
.pos_service_btn i {
    vertical-align: middle;
    padding-left: 10px;
    transition: all 0.2s linear;
}
.pos_service_btn:hover {
    color: #5f54fd;
}
.pos_service_btn:hover:before {
    width: 100%;
}
.pos_service_btn:hover i {
    padding-left: 15px;
}

.pos_btn {
    font-size: 16px;
    color: #5f54fd;
    font-weight: 500;
    padding: 9px 24px;
    border: 2px solid #aba6f9;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.3s linear;
}
.pos_btn:hover {
    background: #5f54fd;
    color: #fff;
    border-color: #5f54fd;
    box-shadow: 0px 10px 30px 0px rgba(95, 84, 253, 0.15);
}

.pos_action_area {
    position: relative;
    z-index: 3;
    margin-bottom: -30px;
}
.pos_action_area .pos_action_content {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 30px 80px 0px rgba(5, 1, 64, 0.1), 0px -4px 0px 0px rgba(95, 84, 253, 0.004);
    border-top: 4px solid #5d52f9;
    padding: 77px 20px;
}
.pos_action_area .pos_action_content h2 {
    font-size: 40px;
    color: #2c2c51;
    line-height: 44px;
    font-weight: 600;
    margin-bottom: 15px;
}
.pos_action_area .pos_action_content p {
    font-size: 24px;
    line-height: 35px;
    font-weight: 400;
    color: #7b7b93;
    margin-bottom: 52px;
}
.pos_action_area .pos_action_content .pos_btn {
    background: #5f54fd;
    color: #fff;
    border-color: #5f54fd;
    padding: 7px 33px;
}

.menu_pos .container {
    position: relative;
}
.menu_pos .container .search_cart {
    background: transparent;
}
.menu_pos .container .menu_toggle .hamburger span, .menu_pos .container .menu_toggle .hamburger-cross span {
    background: #fff;
}

/*============== developer_product_area css ================*/
.developer_product_area {
    background: #f9f9fc;
    padding: 160px 0px;
}

.developer_product_content {
    padding-right: 100px;
}
.developer_product_content .develor_tab {
    display: inline-block;
    border-bottom: 2px solid #e1e3ed;
    padding: 0px 40px 0px 10px;
}
.developer_product_content .develor_tab .nav-item {
    margin: 0px 0px 0px 50px;
    float: left;
}
.developer_product_content .develor_tab .nav-item .nav-link {
    font: 400 16px "Poppins", sans-serif;
    color: #677294;
    border: 0px;
    padding: 0px 0px 10px;
    position: relative;
}
.developer_product_content .develor_tab .nav-item .nav-link:before {
    width: 0;
    content: "";
    left: auto;
    right: 0;
    height: 2px;
    background: #3d64f4;
    position: absolute;
    bottom: -2px;
    transition: all 0.3s linear;
}
.developer_product_content .develor_tab .nav-item .nav-link.active {
    color: #3d64f4;
    background: transparent;
}
.developer_product_content .develor_tab .nav-item .nav-link.active:before {
    right: auto;
    left: 0;
    width: 100%;
}
.developer_product_content .develor_tab .nav-item:first-child {
    margin-left: 0px;
}
.developer_product_content .developer_tab_content p {
    line-height: 28px;
    font-weight: 300;
}
.developer_product_content .developer_tab_content .details_btn {
    font: 400 14px "Poppins", sans-serif;
    color: #3d64f4;
    position: relative;
    display: inline-block;
}
.developer_product_content .developer_tab_content .details_btn:before {
    width: 100%;
    content: "";
    left: auto;
    right: 0;
    height: 1px;
    background: #3d64f4;
    position: absolute;
    bottom: 0px;
    transition: all 0.3s linear;
}

.c_violet {
    color: #222d39;
}
.c_violet:before {
    background: #5e2ced;
}
.c_violet:hover {
    color: #5e2ced;
}
.square{
    position: absolute;
}
.d_product_content_two .develor_tab .nav-item .nav-link:before {
    background: #5e2ced;
}
.d_product_content_two .develor_tab .nav-item .nav-link.active {
    color: #5e2ced;
}

.tab_img_info {
    position: relative;
}
.tab_img_info .tab_img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 6px;
    overflow: hidden;
    transition: opacity 0.3s linear;
}
.tab_img_info .tab_img.active {
    position: relative;
    opacity: 1;
}
/*===========experts_team_area css ==========*/
.experts_team_area .learn_btn:hover {
    color: #4069eb;
}
.experts_team_area .learn_btn:hover:before {
    background: #4069eb;
}

.ex_team_item {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    overflow: hidden;
    cursor: pointer;
}
.ex_team_item img {
    max-width: 100%;
}
.ex_team_item .hover_content, .ex_team_item .team_content {
    position: absolute;
    width: 100%;
}
.ex_team_item h3 {
    margin-bottom: 3px;
}
.ex_team_item h5 {
    font: 300 14px/24px "Poppins", sans-serif;
    color: #677294;
    margin-bottom: 0px;
}
.ex_team_item .team_content {
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 17px 0px;
    transition: all 0.4s ease;
}
.ex_team_item .hover_content {
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 33px;
    background-image: -moz-linear-gradient(140deg, rgba(125, 13, 240, 0.9) 0%, rgba(58, 113, 235, 0.9) 100%);
    background-image: -webkit-linear-gradient(140deg, rgba(125, 13, 240, 0.9) 0%, rgba(58, 113, 235, 0.9) 100%);
    background-image: -ms-linear-gradient(140deg, rgba(125, 13, 240, 0.9) 0%, rgba(58, 113, 235, 0.9) 100%);
    opacity: 0;
    visibility: visible;
    z-index: -1;
    transition: all 0.4s ease;
    transform: scale(0.9);
}
.ex_team_item .hover_content .n_hover_content {
    width: 100%;
}
.ex_team_item .hover_content .n_hover_content ul {
    margin-bottom: 0px;
}
.ex_team_item .hover_content .n_hover_content ul li {
    display: inline-block;
}
.ex_team_item .hover_content .n_hover_content ul li a {
    font-size: 13px;
    color: #fff;
    margin: 0px 5px;
}
.ex_team_item .hover_content .n_hover_content ul li a:hover {
    color: #0cb6e7;
}
.ex_team_item .hover_content .n_hover_content .br {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    display: block;
    margin: 15px 0px 20px;
    transform: scale(0);
    transition: all 0.6s linear;
}
.ex_team_item .hover_content .n_hover_content h3 {
    transform: translateY(12px);
    transition: all 0.5s linear;
}
.ex_team_item .hover_content .n_hover_content h5 {
    color: #fff;
    transform: translateY(20px);
    transition: all 0.6s linear;
}
.ex_team_item:hover .hover_content {
    opacity: 1;
    visibility: visible;
    z-index: 0;
    transform: scale(1);
}
.ex_team_item:hover .hover_content .br {
    transform: scale(1);
}
.ex_team_item:hover .hover_content h3, .ex_team_item:hover .hover_content h5 {
    transform: translateY(0);
}
.ex_team_item:hover .team_content {
    opacity: 0;
    visibility: visible;
    transform: translateY(100%);
}


/*============= shop_grid_area css ==============*/
.shop_list_area .shop_page_number {
    margin-top: 70px;
}

.shop_list_item {
    padding-top: 50px;
}
.shop_list_item .single_product_item .single_pr_details {
    padding-bottom: 0px;
}
.shop_list_item .single_product_item .single_pr_details .price {
    justify-content: flex-end;
    font-size: 16px;
}
.shop_list_item .single_product_item .single_pr_details .s_list_title {
    display: inline-block;
}
.shop_list_item .single_product_item .single_pr_details .ratting {
    float: right;
}
.shop_list_item .single_product_item .single_pr_details .pr_button .cart_btn {
    font: 400 15px/30px "Poppins", sans-serif;
    color: #677294;
    border: 1px solid #e7e7f6;
    border-radius: 45px;
    background: #f9f9fc;
    padding: 9px 28px;
    transition: all 0.2s linear;
    cursor: pointer;
}
.shop_list_item .single_product_item .single_pr_details .pr_button .cart_btn:hover {
    color: #fff;
    background: #5e2ced;
    border-color: #5e2ced;
}
.shop_list_item .single_product_item .single_pr_details .pr_button a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #e7e7f6;
    background: #f9f9fc;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #282835;
    margin-left: 4px;
    transition: all 0.2s linear;
    cursor: pointer;
}
.shop_list_item .single_product_item .single_pr_details .pr_button a:hover {
    color: #fff;
    background: #5e2ced;
    border-color: #5e2ced;
}

.product_details_area .product_slider {
    padding-right: 42px;
}
.product_details_area .product_slider .owl-thumbs {
    display: table;
    width: 102.6%;
    text-align: center;
    padding: 0;
    margin-top: 24px;
    margin-left: -7px;
    margin-right: -7px;
}
.product_details_area .product_slider .owl-thumbs .owl-thumb-item {
    display: table-cell;
    border: none;
    background: none;
    padding: 7px;
    width: calc(100% / 4);
}
.product_details_area .product_slider .owl-thumbs .owl-thumb-item img {
    max-width: 100%;
    border: 2px solid transparent;
    transition: all 0.2s linear;
}
.product_details_area .product_slider .owl-thumbs .owl-thumb-item.active img {
    border-color: #c8b6fc;
}

.pr_details .pr_title {
    color: #282835;
}
.pr_details .ratting {
    float: right;
    text-align: right;
}
.pr_details .ratting .star-rating {
    color: #5e2ced;
    line-height: 12px;
}
.pr_details .ratting .star-rating:before {
    content: "";
    font-family: "themify";
    font-size: 12px;
}
.pr_details .ratting .woocommerce-review-link {
    font-size: 14px;
    font-weight: 300;
    color: #677294;
}
.pr_details .price {
    font: 300 20px "Poppins", sans-serif;
    color: #677294;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding-top: 8px;
}
.pr_details .price ins {
    text-decoration: none;
    font-weight: 600;
    color: #282835;
    padding-right: 18px;
}
.pr_details .stock {
    vertical-align: middle;
    padding-top: 20px;
    display: inline-block;
}

.pr_details p {
    margin-bottom: 0px;
    padding: 20px 0px 40px;
}
.pr_details .product-qty {
    display: inline-block;
    position: relative;
}
.pr_details .product-qty .manual-adjust {
    width: 95px;
    border: 1px solid #e7e7f6;
    border-radius: 45px;
    background: #fff;
    text-align: center;
    height: 50px;
}
.pr_details .product-qty .ar_top, .pr_details .product-qty .ar_down {
    position: absolute;
    background: #fff;
    border: 0px;
    font-size: 12px;
    color: #677294;
    right: 5px;
    border-radius: 15px;
    padding: 0px 15px 0px 0px;
}
.pr_details .product-qty .ar_top:hover, .pr_details .product-qty .ar_down:hover {
    color: #5e2ced;
}
.pr_details .product-qty .ar_top {
    top: 3px;
}
.pr_details .product-qty .ar_down {
    bottom: 3px;
}
.pr_details .cart_button {
    display: inline-block;
}
.pr_details .cart_button .cart_btn {
    border-radius: 45px;
    font: 400 15px/48px "Poppins", sans-serif;
    color: #677294;
    border: 1px solid #e7e7f6;
    background: #f8f8fc;
    min-width: 140px;
    text-align: center;
    display: inline-block;
    margin: 0px 5px;
}
.pr_details .cart_button .wish_list {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #282835;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #e7e7f6;
}
.pr_details .cart_button .cart_btn, .pr_details .cart_button .wish_list {
    transition: all 0.2s linear;
}
.pr_details .cart_button .cart_btn:hover, .pr_details .cart_button .wish_list:hover {
    background: #5e2ced;
    color: #fff;
    border-color: #5e2ced;
}
.pr_details .product_meta {
    margin-bottom: 0;
}
.pr_details .product_meta li {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #677294;
    margin-bottom: 10px;
}
.pr_details .product_meta li a {
    color: #677294;
}
.pr_details .product_meta li a:hover {
    color: #5e2ced;
}
.pr_details .product_meta li span {
    font-weight: 400;
    color: #282835;
    padding-right: 8px;
}
.pr_details .share-link label {
    margin-bottom: 0px;
    font: 400 15px "Poppins", sans-serif;
    color: #282835;
}
.pr_details .share-link .social-icon {
    margin-bottom: 0px;
    display: inline-block;
}
.pr_details .share-link .social-icon li {
    display: inline-block;
}
.pr_details .share-link .social-icon li a {
    font-size: 12px;
    color: #677294;
    padding-right: 10px;
    transition: all 0.2s linear;
}
.pr_details .share-link .social-icon li a:hover {
    color: #5e2ced;
}

.pr_details_area {
    padding-top: 120px;
}

.product_info_details {
    border-bottom: 1px solid #e2e5ef;
}
.product_info_details .pr_tab {
    justify-content: center;
    border: 0px;
    margin: 0 auto 50px;
}
.product_info_details .pr_tab .nav-item {
    float: left;
    margin: 0px;
    border: 1px solid #e7e7f6;
    overflow: hidden;
    border-left: 0px;
}
.product_info_details .pr_tab .nav-item .nav-link {
    font: 300 16px/40px "Poppins", sans-serif;
    color: #677294;
    padding: 5px 25px;
    min-width: 148px;
    text-align: center;
    border: 0px;
    border-radius: 0px;
}
.product_info_details .pr_tab .nav-item .nav-link.active {
    background: #5e2ced;
    color: #fff;
}
.product_info_details .pr_tab .nav-item:first-child {
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
    border-left: 1px solid #e7e7f6;
}
.product_info_details .pr_tab .nav-item:last-child {
    border-bottom-right-radius: 45px;
    border-top-right-radius: 45px;
}
.product_info_details .aditional_info h6 {
    color: #282835;
}
.product_info_details .comment-box .comment-content {
    padding-left: 95px;
    position: relative;
}
.product_info_details .comment-box .comment-content .avatar {
    position: absolute;
    left: 0;
}
.product_info_details .comment-box .comment-content .avatar img {
    border-radius: 50%;
}
.product_info_details .comment-box .comment-content .comment-header {
    font: 300 14px "Poppins", sans-serif;
    display: inline-block;
}
.product_info_details .comment-box .comment-content .comment-header a {
    font-size: 15px;
    font-weight: 500;
    color: #3d3f45;
}
.product_info_details .comment-box .comment-content .comment-header a:after {
    content: "/";
    display: inline-block;
    margin: 0px 5px 0px 6px;
    font-weight: 400;
    color: #abb0bb;
}
.product_info_details .comment-box .comment-content .ratting a {
    font-size: 12px;
    color: #c9ccd1;
}
.product_info_details .comment-box .comment-content .ratting a:nth-child(1), .product_info_details .comment-box .comment-content .ratting a:nth-child(2), .product_info_details .comment-box .comment-content .ratting a:nth-child(3) {
    color: #5e2ced;
}

.car_get_quote_content {
    padding-bottom: 35px;
}
.car_get_quote_content h2 {
    color: #282835;
}
.car_get_quote_content .get_quote_form .form-group .form-control {
    height: 60px;
    border: 1px solid #ebebf7;
    border-radius: 4px;
    background: transparent;
    font: 300 14px "Poppins", sans-serif;
    color: #282835;
    padding-left: 25px;
    box-shadow: none;
}
.car_get_quote_content .get_quote_form .form-group .form-control.placeholder {
    color: #a7adbe;
}
.car_get_quote_content .get_quote_form .form-group .form-control:-moz-placeholder {
    color: #a7adbe;
}
.car_get_quote_content .get_quote_form .form-group .form-control::-moz-placeholder {
    color: #a7adbe;
}
.car_get_quote_content .get_quote_form .form-group .form-control::-webkit-input-placeholder {
    color: #a7adbe;
}
.car_get_quote_content .get_quote_form .form-group .form-control:focus {
    border-color: #ddd1fe;
    background-color: white;
    box-shadow: 0px 10px 20px 0px rgba(0, 21, 46, 0.1);
}
.car_get_quote_content .get_quote_form .form-group textarea.form-control {
    height: 200px;
    padding-top: 20px;
}
.car_get_quote_content .ratting span {
    font-size: 14px;
    color: #282835;
}
.car_get_quote_content .ratting a {
    font-size: 12px;
    color: #c9ccd1;
}
.car_get_quote_content .ratting a:nth-child(4), .car_get_quote_content .ratting a:nth-child(2), .car_get_quote_content .ratting a:nth-child(3) {
    color: #5e2ced;
}
.car_get_quote_content .agency_banner_btn {
    float: right;
    border-radius: 45px;
    height: 46px;
    line-height: 45px;
    padding: 0px;
    min-width: 120px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*!*=================== security_features_area css =============*!*/
/*.security_features_area {*/
/*    padding: 50px 0px;*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/

/*.security_features_inner {*/
/*    display: flex;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    max-width: 1030px;*/
/*    justify-content: space-between;*/
/*    flex-wrap: wrap;*/
/*}*/
/*.security_features_inner .s_features_item .item {*/
/*    width: 300px;*/
/*    text-align: center;*/
/*    border-radius: 30px;*/
/*    background-color: white;*/
/*    box-shadow: 0px 50px 100px 0px rgba(1, 1, 64, 0.06);*/
/*    padding: 83px 0px;*/
/*    position: relative;*/
/*}*/
/*.security_features_inner .s_features_item .item h6 {*/
/*    font-size: 24px;*/
/*    color: #2c2c51;*/
/*    font-weight: 500;*/
/*    margin-bottom: 0;*/
/*    padding-top: 26px;*/
/*}*/
/*.security_features_inner .s_features_item:nth-child(3n-1) {*/
/*    margin-top: 75px;*/
/*}*/
/*.security_features_inner .s_features_item:nth-child(3n+1) {*/
/*    margin-top: 150px;*/
/*}*/

/*!*=================== security_features_area css =============*!*/

/*============= portfolio area css ============*/
.portfolio_area {
    overflow: hidden;
}
.portfolio_area .price_btn {
    border-color: #5f51fb;
    color: #5f51fb;
    background: transparent;
    margin-top: 50px;
    line-height: 48px;
    padding: 0px 30px;
}
.portfolio_area .price_btn:hover {
    background: #5f51fb;
    color: #fff;
}

.portfolio_filter {
    display: flex;
    justify-content: center;
}
.portfolio_filter .work_portfolio_item {
    font: 400 16px/22px "Poppins", sans-serif;
    color: #677294;
    display: inline-block;
    border-radius: 3px;
    transition: all 0.2s linear;
    position: relative;
    cursor: pointer;
}
.portfolio_filter .work_portfolio_item:before {
    content: "";
    width: 0;
    height: 1px;
    bottom: 0;
    background: transparent;
    position: absolute;
    left: auto;
    right: 0;
    transition: width 0.3s linear;
}
.portfolio_filter .work_portfolio_item.active, .portfolio_filter .work_portfolio_item:hover {
    color: #5e2ced;
}
.portfolio_filter .work_portfolio_item.active:before, .portfolio_filter .work_portfolio_item:hover:before {
    width: 100%;
    background: #5e2ced;
    right: auto;
    left: 0;
}
.portfolio_filter .work_portfolio_item + .work_portfolio_item {
    margin-left: 60px;
}

.portfolio_filter_blue .work_portfolio_item.active, .portfolio_filter_blue .work_portfolio_item:hover {
    color: #26c4e5;
}
.portfolio_filter_blue .work_portfolio_item.active:before, .portfolio_filter_blue .work_portfolio_item:hover:before {
    width: 100%;
    background: #26c4e5;
}

.pr_btn {
    margin-top: 70px;
    background: transparent;
    color: #26c4e5;
    border-color: #26c4e5;
}
.pr_btn:hover {
    background: #26c4e5;
    color: #fff;
}

.portfolio_gallery .portfolio_item .portfolio_img {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.portfolio_gallery .portfolio_item .portfolio_img img {
    max-width: 100%;
    width: 100%;
}
.portfolio_gallery .portfolio_item .portfolio_img .img_rounded {
    border-radius: 29px;
}
.portfolio_gallery .portfolio_item .portfolio_img .hover_content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(44, 44, 57, 0.7);
    opacity: 0;
    transition: opacity 300ms linear;
}
.portfolio_gallery .portfolio_item .portfolio_img .hover_content .img_popup {
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    right: 50px;
    top: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.3s ease-in;
}
.portfolio_gallery .portfolio_item .portfolio_img .hover_content .img_popup:hover {
    background: #fff;
    color: #282835;
}
.portfolio_gallery .portfolio_item .portfolio_img .hover_content .portfolio-description {
    bottom: 0;
    padding-left: 50px;
    padding-bottom: 48px;
    width: 100%;
}
.portfolio_gallery .portfolio_item .portfolio_img .hover_content .portfolio-description h3 {
    transform: translateY(25px);
    transition: all 0.4s linear;
    color: #fff;
}
.portfolio_gallery .portfolio_item .portfolio_img .hover_content .portfolio-description .links {
    overflow: hidden;
}
.portfolio_gallery .portfolio_item .portfolio_img .hover_content .portfolio-description .links a {
    transform: translateY(25px);
    color: #fff;
    transition: all 0.3s linear;
}
.portfolio_gallery .portfolio_item .portfolio_img .hover_content .portfolio-description .links a:before {
    background: #fff;
}
.portfolio_gallery .portfolio_item .portfolio_img .hover_content.h_content_two .img_popup {
    right: 30px;
    top: 30px;
}
.portfolio_gallery .portfolio_item .portfolio_img .hover_content.h_content_two .portfolio-description {
    padding-left: 30px;
    padding-bottom: 30px;
}
.portfolio_gallery .portfolio_item .portfolio_img .hover_content.h_content_two .portfolio-description .links a {
    font-size: 14px;
}
.portfolio_gallery .portfolio_item .portfolio_img:hover .hover_content {
    opacity: 1;
}
.portfolio_gallery .portfolio_item .portfolio_img:hover .hover_content .img_popup {
    opacity: 1;
    transform: scale(1);
}
.portfolio_gallery .portfolio_item .portfolio_img:hover .hover_content .portfolio-description h3, .portfolio_gallery .portfolio_item .portfolio_img:hover .hover_content .portfolio-description a {
    transform: translateY(0);
}

.portfolio-description .portfolio-title {
    overflow: hidden;
    display: inline-block;
}
.portfolio-description h3 {
    margin-top: 22px;
    margin-bottom: 0px;
    transition: color 0.2s linear;
    color: #282835;
}
.portfolio-description h3:hover {
    color: #5e2ced;
}
.portfolio-description .links {
    overflow: hidden;
}
.portfolio-description .links a {
    font-size: 15px;
    color: #020230;
    font-weight: 300;
    position: relative;
    display: inline-block;
    margin-right: 8px;
    transition: color 0.01s linear;
}
.portfolio-description .links a:before {
    content: "";
    width: 0;
    height: 1px;
    bottom: 0;
    background: #5e2ced;
    position: absolute;
    left: auto;
    right: 0;
    transition: width 0.3s linear;
}
.portfolio-description .links a:hover {
    color: #5e2ced;
}
.portfolio-description .links a:hover:before {
    width: 100%;
    right: auto;
    left: 0;
}

.portfolio_fullwidth_area {
    padding-top: 100px;
}

/*==============Start portfolio_details_area css ==============*/
.p_category_item .social_icon, .icon .social_icon {
    padding-top: 8px;
}
.p_category_item .social_icon a, .icon .social_icon a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    line-height: 43px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    transition: all 0.2s linear;
    color: #fff;
}
.p_category_item .social_icon a:nth-child(1), .icon .social_icon a:nth-child(1) {
    background: #4779de;
}
.p_category_item .social_icon a:nth-child(2), .icon .social_icon a:nth-child(2) {
    background: #e43e30;
}
.p_category_item .social_icon a:nth-child(3), .icon .social_icon a:nth-child(3) {
    background: #1da1f3;
}
.p_category_item .social_icon a:hover, .icon .social_icon a:hover {
    box-shadow: 0px 5px 12px 2px rgba(0, 11, 40, 0.2);
}

.portfolio_pagination {
    display: flex;
    justify-content: space-between;
}
.portfolio_pagination .prev, .portfolio_pagination .next {
    font-size: 14px;
    font-weight: 300;
    color: #9ca3b9;
    transition: color 0.2s linear;
}
.portfolio_pagination .prev:hover, .portfolio_pagination .next:hover {
    color: #222d39;
}
.portfolio_pagination .prev i {
    padding-right: 8px;
}
.portfolio_pagination .next i {
    padding-left: 8px;
}

.pr_slider .owl-prev, .pr_slider .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: transparent;
    border: 0px;
    background: transparent;
    padding: 0px;
    font-size: 24px;
    color: #677294;
    transition: color 0.2s linear;
    cursor: pointer;
}
.pr_slider .owl-prev:hover, .pr_slider .owl-next:hover {
    color: #5e2ced;
}
.pr_slider .owl-prev {
    left: 40px;
}
.pr_slider .owl-next {
    right: 40px;
}

.p_details_three .portfolio_category {
    flex-wrap: wrap;
    margin-top: 50px;
}
.p_details_three .portfolio_category .p_category_item {
    flex: 0 0 50%;
    max-width: 50%;
}
.p_details_three .portfolio_pagination {
    margin-top: 190px;
}
.p_details_three .icon {
    margin-top: 120px;
}

/*==============End portfolio_details_area css ==============*/






.h_security_about_area .h_security_img img{
    border-radius: 30px;
}
.h_security_about_area .h_analytices_features_item.flex-row-reverse .h_security_img:before{
    background: #8E70EE;
}
.pos_developer_product_area .tab_img_info .tab_img{
    text-align: right;
}
.pos_developer_product_area .tab_img_info .tab_img img{
    margin-top: 35px;
}
.pos_developer_product_area .tab_img_info .tab_img .imgCont{
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: relative;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.9s linear, opacity 0.2s linear;
}

.pos_developer_product_area .tab_img_info .tab_img.active .square{
    width: 170px;
}
.pos_developer_product_area .tab_img_info .tab_img .square{
    background: #4CC9F0;
    right: 65%;
    height: calc(100% - 70px);
    opacity: .5;
}
.pos_developer_product_area .tab_img_info .tab_img.active .imgCont{
    transform: scale(1);
    opacity: 1;
}
.pos_developer_product_area{
    background: #fff;
}
.aboutVideoContainer{
    position: relative;
    height: 600px;
    background: #020230;
    z-index: 1;
}
.aboutVideoContainer video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    opacity: .9;
    z-index: 2;
}
.aboutVideoContainer .ttlContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutVideoContainer .ttlContainer h1{
    color: #fff;
}
.mt_15{
    margin-top: 15px;
}
.productSub{
    color: #8E70EE;
    font-size: 16px;
}
.pr_details .product_meta li{
    font-size: 16px;
    color: #020230;
    margin-bottom: 0px;
    padding-left: 30px;
    position: relative;
    line-height: 22px;
}
.pr_details .product_meta li:after{
    content: '';
    position: absolute;
    left: 0px;
    top: 6px;
    height: 9px;
    width: 9px;
    background: #F72585;
    border-radius: 50%;
}
.pr_details .product_meta li span{
    color: #020230;
}
.techDetInn{
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(173,173,184,.5);
}
.techDetInn:last-child{
    border: 0px;
}
.techDetInn div{
    width: 50%;
    color: #020230;
    font-size: 16px;
}
.buyItContainer .ttl{
    font-size: 14px;
    color: #020230;
}
.buyItInner a{
    margin-right: 20px;
    transition: .6s;
}
.buyItInner a:hover{
    opacity: .5;
}
.productShare{
    display: flex;
    margin-top: 30px;
}
.productShare a{
    margin-left: 10px;
}
.productShare a path{
    transition: .6s;
}
.productShare a:hover path{
    fill: #4CC9F0;
}
.product_details_area .product_slider{
    padding-right: 0px;

}
.product_slider .owl-carousel .owl-item img{
    border-radius: 30px;
}
.pr_details h2{
    font-size: 34px;
    line-height: 50px;
}
.product_slider .owl-nav{
    display: none;
}
#thumbsProduct{
    padding: 0px 40px;
    margin-top: 48px;
}
.productThumbImg{
    border-radius: 8px;
    border: 2px solid transparent;
    transition: .6s;
}
.current .productThumbImg{
    border-color: #F72585;
}
#thumbsProduct .owl-stage-outer{
    z-index: 4;
}
#thumbsProduct .owl-nav{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 0;
    justify-content: space-between;
}
#thumbsProduct .owl-nav .owl-prev{
    margin-left: 10px;
}
#thumbsProduct .owl-nav .owl-next{
    margin-right: 10px;
}
#thumbsProduct .owl-nav button line{
    transition: .6s;
}
#thumbsProduct .owl-nav button:hover line{
    stroke: #8E70EE;
}
#productInnerSecurity .security_features_inner .s_features_item{
    margin-top: 0px;
}
#productInnerSecurity .security_features_inner .s_features_item .item h6{
    font-size: 34px;
    padding-top: 34px;
    margin-bottom: 20px;
}
#productInnerSecurity .security_features_inner .s_features_item .item{
    padding-top: 0px;
    width: 370px;
    padding-bottom: 37px;
    min-height: 265px;
    display: flex;
    flex-direction: column;
}
#productInnerSecurity .security_features_inner .s_features_item .item li{
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    text-align: left;
    padding-left: 35px;
    position: relative;
    color: #020230;
}
#productInnerSecurity .security_features_inner .s_features_item .item li:after{
    height: 8px;
    width: 8px;
    background: #8E70EE;
    position: absolute;
    content: '';
    border-radius: 50%;
    left: 15px;
    top: 8px;
}
#productInnerSecurity .security_features_inner .s_features_item .item ul{
    padding-left: 0px;
    margin-bottom: 0px;
}

#productInnerSecurity .security_features_inner{
    max-width: 1170px;
}
#productInnerSecurity .security_features_inner .s_features_item .item .subTtl{
    width: calc(100% - 100px);
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 27px;
    border-top: 1px solid #ADADB8;
    color: #8E70EE;
    font-size: 16px;
}

.solInner{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.solInner p{
    margin-bottom: 0px;
    margin-left: 10px;
    color: #020230;
}
.productShare .ttl{
    color: #020230;
}
.portfolio_pagination .prev, .portfolio_pagination .next{
    color: #020230;
}
.portfolio_pagination .prev i, .portfolio_pagination .next i{
    color: #8E70EE;
    transition: .6s;
    display: inline-block;
}
.portfolio_pagination .prev:hover i{
    transform: translateX(-5px);
}
.portfolio_pagination .next:hover i{
    transform: translateX(5px);
}
/*=========== startup_fuatures_area css ==========*/
.startup_tab {
    border: 0px;
    margin-bottom: 50px;
}
.startup_tab .nav-item {
    width: calc(100% / 5);
    padding: 0px 15px;
    margin: 0px;
    text-align: center;
}
.startup_tab .nav-item .nav-link {
    border: 0px;
    background: #fbfbfd;
    padding: 32px 0px;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: all 0.3s linear;
}
.startup_tab .nav-item .nav-link .icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 72px;
    color: #fff;
    margin-bottom: 15px;
}
.startup_tab .nav-item .nav-link h3 {
    font-size: 18px;
    line-height: 26px;
    color: #051441;
    font-weight: 400;
    white-space: pre-line;
    margin-bottom: 0;
}
.startup_tab .nav-item .nav-link.active {
    background: #fff;
    box-shadow: 0px 30px 40px 0px rgba(29, 7, 90, 0.08);
}

.startup_tab_content .show .startup_tab_img .phone_img, .startup_tab_content .show .startup_tab_img .web_img {
    transform: translateX(0);
    opacity: 1;
}

.startup_tab_img {
    position: relative;
    padding-top: 40px;
    padding-bottom: 64px;
    z-index: 1;
}

.startup_tab_img .web_img {
    display: inline-block;
    box-shadow: 0px 20px 40px 0px rgba(0, 11, 40, 0.14);
    transform: translateX(-30px);
    opacity: 0;
    transition: all 0.4s linear;
}
.startup_tab_img .phone_img {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(30px);
    opacity: 0;
    transition: all 0.5s linear;
}
/*============ easy_setup_area css ============*/
.analytices_title span {
    display: block;
    font-weight: 300;
    color: #2c2c51;
}
.analytices_title p {
    font-weight: 400;
    font-size: 16px;
    max-width: 700px;
    margin: 0 auto;
}

.setup_inner {
    max-width: 830px;
    margin: -30px auto 0px;
}
.setup_inner .setup_item {
    align-items: center;
    padding: 30px 0px;
    position: relative;
}
.setup_inner .setup_item.flex-row-reverse .setup_content {
    text-align: right;
    padding-right: 30px;
    padding-left: 0;
}
.setup_inner .setup_item .setup_img {
    text-align: center;
}
.setup_inner .setup_item .round {
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 10px 30px 0px rgba(1, 1, 64, 0.08);
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    color: #4e78f4;
    font-weight: 500;
    line-height: 80px;
}
.setup_inner .setup_item .line {
    position: absolute;
    left: 50%;
    top: 0;
    width: 0;
    height: 100%;
    border-right: 2px dashed #94a2ce;
    opacity: 0.3;
    margin-left: -1px;
    z-index: -1;
}
.setup_inner .setup_item:first-child .line {
    top: 50%;
    height: 50%;
}
.setup_inner .setup_item:last-child .line {
    top: 0;
    height: 50%;
}
.setup_inner .setup_content {
    padding-left: 30px;
}
.setup_inner .setup_content h5 {
    font-size: 20px;
    font-weight: 600;
    color: #2c2c51;
    line-height: 28px;
    margin-bottom: 15px;
}
.setup_inner .setup_content p {
    font-size: 16px;
    color: #7b7b93;
    font-weight: 400;
    margin-bottom: 0;
}

.analytices_price_item {
    border: 1px solid #f0f0f6;
    border-radius: 30px;
    padding: 40px;
    transition: all 0.3s linear;
}
.analytices_price_item .p_head {
    text-align: center;
    border-bottom: 1px solid #ececf6;
    padding-bottom: 50px;
}
.analytices_price_item .p_head h5 {
    font-size: 20px;
    font-weight: 500;
    color: #2c2c51;
}
.analytices_price_item .p_head .rate {
    font-size: 34px;
    font-weight: 600;
    color: #8E70EE;
    padding-bottom: 13px;
    padding-top: 22px;
}
.analytices_price_item .p_head h6 {
    font-size: 16px;
    color: #7b7b93;
    font-weight: 400;
}
.analytices_price_item .p_head .tag {
    color: #F72585;
}
.analytices_price_item .p_head .tag i {
    margin-right: 8px;
    vertical-align: middle;
}
.analytices_price_item .p_body {
    padding-top: 20px;
    margin-bottom: 0;
}
.analytices_price_item .p_body li {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #7b7b93;
    font-size: 400;
    align-items: center;
    margin: 12px 0px;
}
.analytices_price_item .p_body li i {
    font-size: 14px;
}
.analytices_price_item .er_btn {
    margin-top: 40px;
    display: block;
    text-align: center;
}
.analytices_price_item.active, .analytices_price_item:hover {
    box-shadow: 0px 40px 80px 0px rgba(1, 1, 64, 0.08);
    border-color: #fff;
}
/*.analytices_price_item.active .p_body li, .analytices_price_item:hover .p_body li {*/
/*    color: #2c2c51;*/
/*}*/
/*.analytices_price_item.active .p_body li .ti-check, .analytices_price_item:hover .p_body li .ti-check {*/
/*    color: #26da15;*/
/*}*/
/*.analytices_price_item.active .p_body li .ti-close, .analytices_price_item:hover .p_body li .ti-close {*/
/*    color: #fc314e;*/
/*}*/
.analytices_price_item .p_body li .ti-check{
    color: #4CC9F0;
}
.analytices_price_item .p_body li .ti-close{
    color: #F72585;
}
.analytices_price_item.active .p_head{
    padding-bottom: 25px;
}

/*============ easy_setup_area css ============*/

.analytices_price_item .softBtn{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 46px;
    padding: 0px 72px;
    background: #ADADB8;
    color: #fff;
    border-radius: 23px;
    transition: .6s;
    border: 0px!important;
}

.analytices_price_item.active .softBtn{
    background: #F72585;
}
.analytices_price_item.active .softBtn:hover{
    background: #8E70EE;
}
.analytices_price_item.active{
    transform: translateY(-18px);
}
.analytices_price_item.active .er_btn{
    margin-top: 70px;
}
.analytices_price_item{
    padding-bottom: 25px;
}
.analytices_price_item.active{
    padding-bottom: 50px;
}
.analytices_price_item .softBtn:hover{
    background: #F72585;
}
.softTabsContainer{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: 100px;
    margin-top: 20px;
}
.softTabsContainer div{
    width: 185px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #8E70EE;
    cursor: pointer;
    font-size: 14px;
    color: #020230;
    transition: .6s;
}
.annBil{
    display: none;
}
.softTabsContainer div.active,.softTabsContainer div:hover{
    background: #8E70EE;
    color: #fff;
}
.softTabsContainer div:first-child{
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
}
.softTabsContainer div:last-child{
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;
}
.h_security_img{
    display: flex;
    margin-bottom: -60px;
}
body.page-about{
    padding-top: 145px;
}
.h_analytices_content p{
    color: #020230;
}
.aboutPage .h_analytices_features_item{
    padding-top: 140px;
    padding-bottom: 0px;
}
#aboutQuote{
    text-align: center;
    margin-top: 190px;
}
.pos_developer_product_area h2{
    margin-bottom: 65px;
}
.mt-130{
    margin-top: 130px;
}
.mt-110{
    margin-top: 110px;
}
.mt_90{
    margin-top: 90px;
}
.pr_details .stock{
    color: #8E70EE;
}
.pr_details .stock svg{
    margin-right: 8px;
    margin-top: -5px;
}
#productDescr .ttl{
    height: 46px;
    background: #8E70EE;
    padding: 0px 44px;
    border-radius: 23px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 150px;
    margin-bottom: 55px;
}

/*laptop*/
@media(max-width:1650px) {
    .aboutVideoContainer{
        height: 500px;
    }
}
@media(max-width:1250px) {
    .aboutVideoContainer{
        height: 500px;
    }
    #productInnerSecurity .security_features_inner .s_features_item .item{
        width: 340px;
    }
    #productInnerSecurity .security_features_inner .s_features_item .item .subTtl{
        width: calc(100% - 100px);
    }
}
@media (max-width: 1199px){
    #productInnerSecurity .security_features_inner .s_features_item .item{
        width: 285px;
    }
    #productInnerSecurity .security_features_inner .s_features_item .item .subTtl{
        font-size: 14px;
        width: calc(100% - 50px);
    }
}
@media (max-width: 991px){
    #aboutQuote{
        margin-top: 90px;
    }
    .mt-130 {
        margin-top: 40px;
    }
    .h_security_img{
        margin-bottom: 0px;
    }
    .softTabsContainer div{
        width: 140px;
    }
    .softTabsContainer{
        margin-bottom: 50px;
    }
    #productInnerSecurity .security_features_inner .s_features_item .item{
        width: 220px;
    }
    #productInnerSecurity .security_features_inner .s_features_item .item h6{
        font-size: 26px;
    }
    #productInnerSecurity .security_features_inner .s_features_item .item li{
        font-size: 14px;
        line-height: 22px;
    }
    #productInnerSecurity .security_features_inner .s_features_item .item .subTtl {
        width: calc(100% - 20px);
    }
    .analytices_price_item.active {
        padding-bottom: 25px;
        transform: translateY(0px);
    }
    .analytices_price_item.active .er_btn{
        margin-top: 40px;
    }
    .analytices_price_item .p_head{
        padding-bottom: 65px;
    }
    .analytices_price_item.active .p_head {
        padding-bottom: 10px;
    }
}




/*mobile*/
@media(max-width:768px) {
    #productInnerSecurity .security_features_inner .s_features_item{
        margin: 0px auto 30px auto;
    }
    #productInnerSecurity .security_features_inner .s_features_item .item .subTtl {
        width: calc(100% - 50px);
    }
    #productInnerSecurity .security_features_inner .s_features_item .item{
        width: 100%;
    }
    .techDetInn .ttl{
        padding-right: 10px;
    }
}
