/* #ecoist-slider {
    display: none;
}
header {
    display: none;
} */
.text-center {
    text-align: center;
}
.container-secondary {
    padding: 0 100px;
}

@media(max-width: 1365px) {
    .container-secondary {
        padding: 0 71px;
    }
}
@media(max-width: 1023px) {
    .container-secondary {
        padding: 0 31px;
    }
}
@media(max-width: 767px) {
    .container-secondary {
        padding: 0 16px;
    }
}
/* became member */
.became-member {
    position: relative;
}
.became-member .img-box {
    padding-top: 37.68%;
    transition: 1s;
}
.became-member .img-overlay {
    background: rgba(41, 37, 98, 0.2);
}
.component-content {
    z-index: 2;
    bottom: 109px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.component-content h2 span {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.component-content .btn-white {
    padding: 0 20px;
    min-width: 190px;
}
.component-content .btn-white:first-child {
    margin-right: 18px;
}
.bottom-line {
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 32px 0;
    border-radius: 20px;
}

@media(max-width: 1900px) {
    .component-content {
        bottom: 90px;
    }
    .became-member .img-box {
        padding-top: 39.026%;
    }
}
@media(max-width: 1679px) {
    .became-member .img-box {
        padding-top: 45.755%;
    }
    .component-content {
        bottom: 78px;
    }
}
@media(max-width: 1365px) {
    .component-content {
        bottom: 59px;
    }
    .component-content .btn-white {
        min-width: 150px;
    }
    .component-content .btn-white:first-child {
        margin-right: 30px;
    }
    .bottom-line {
        margin-top: 18px;
    }
}
@media(max-width: 1023px) {
    .became-member .img-box {
        padding-top: 46.615%;
    }
    .component-content {
        bottom: 34px;
    }
    .component-content .btn-white:first-child {
        margin-right: 15px;
    }
    .bottom-line {
        margin-bottom: 24px;
    }
}
@media(max-width: 767px){
    .became-member .img-box {
        padding-top: 80%;
    }
    .component-btns {
        flex-direction: column;
    }
    .component-content .btn-white:first-child {
        margin-right: 0;
        margin-bottom: 14px;
    }
    .component-content h2 {
        width: 300px;
    }
}
@media(max-width: 500px){
    .became-member .img-box {
        padding-top: 132.5%;
    }
}


/* Faq Slider */
.faq-slider {
    margin-top: 37px;
}
.faq-slider.swiper-container {
    overflow: visible;
}
.faq-title::after {
    content: '';
    display: flex;
    width: 60px;
    height: 3px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 16px;
    background: #EE2A7B;
}
.slider-num {
    color: rgba(41, 37, 98, 0.1);
    line-height: 75px;
}
.faq-slider .swiper-slide {
    height: 180px;
    border-radius: 8px;
    padding-left: 60px;
    padding-top: 35px;
    padding-right: 15px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
    box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
    /* transition: 1.5s; */
}
.slider-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    transition: 0.6s;
}

.faq-slider .swiper-slide-next + a + a {
    opacity: 0.5;
    transition: 0.8s;
}
.faq-slider .swiper-slide-prev {
    opacity: 0.5;
    transition: 0.8s;
}

@media(min-width: 1025px) {
    .faq-slider .swiper-slide:hover {
        background: #FCB618;
        transition: 0.8s;
    }
    .faq-slider .swiper-slide:hover .slider-title {
        color: #fff;
    }
}

@media(max-width: 1679px) {
    .faq-slider.swiper-container {
        overflow: hidden;
    }
    .faq-slider .swiper-slide {
        padding-left: 38px;
        height: 160px;
    }
}
@media(max-width: 1365px) {
    .faq-slider .swiper-slide {
        padding-left: 38px;
        padding-top: 25px;
        height: 122px;
    }
    .slider-num {
        line-height: 50px;
    }
    .slider-title.font-21, .faq-subtitle.font-21 {
        font-size: 16px;
    }
}
@media(max-width: 1023px) {
    .faq-slider .swiper-slide {
        height: 100px;
        padding-top: 15px;
    }
    .slider-num {
        line-height: 45px;
    }
    .slider-title.font-21, .faq-subtitle.font-21 {
        font-size: 13px;
    }
}

@media(max-width: 767px) {
    .faq-slider .swiper-slide {
        padding-left: 20px;
        padding-top: 13px;
    }
    .container.faq-section {
        padding-right: 0;
    }
    .faq-title::after {
        margin: 0 auto;
        margin-top: 6px;
        margin-bottom: 12px;
    }
    .faq-title, .faq-subtitle {
        padding-right: 16px;
        text-align: center;
    }
}

/* Social Banner */

.social-banner {
    position: relative;
}
.social-banner .img-box {
    height: 492px;
}
.banner-content {
    position: absolute;
    bottom: 69px;
}
.banner-content h2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: 0.6s;
    line-height: 57px;
    margin-top: auto;
}
.banner-content .btn-white {
    margin-top: 34px;
    padding: 0 20px;
    min-width: 190px;
    width: max-content;
}

@media(max-width: 1900px) {
    .banner-content {
        bottom: 79px;
    }
}
/* @media(max-width: 1679px) {
    .banner-content {

    }
} */
@media(max-width: 1365px) {
    .banner-content {
        bottom: 46px;
    }
    .social-banner .img-box {
        height: 379px;
    }
    .banner-content .btn-white {
        min-width: 150px;
    }
}
@media(max-width: 1023px) {
    .banner-content {
        bottom: 55px;
    }
    .social-banner .img-box {
        height: 358px;
    }
}
@media(max-width: 767px) {
    .banner-content {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        bottom: 45px;
        text-align: center;
    }
    .social-banner .img-box {
        height: 382px;
    }
    .banner-content .btn-white {
        margin-top: 22px;
    }
}


/* Health Insurance */
.head-banner {
    position: relative;
}
.head-banner .img-box {
    height: 500px;
}
.head-banner .banner-content {
    bottom: 120px;
    top: 42px;
}
.head-banner .banner-content h2, .head-banner .banner-button {
    margin-left: 37px;
}
.banner-links a {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.8s;
}
.banner-links a:not(:last-child)::after {
    content: '';
    background-image: url(../img/triangle.svg);
    background-repeat: no-repeat;
    display: flex;
    width: 9px;
    height: 9px;
    margin-left: 6px;
    margin-right: 3px;
    margin-top: 2px;
}
.banner-button {
    width: max-content;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.1);
    padding: 0 13px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
    box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
    transition: 0.6s;

}
.packages {
    position: relative;
    padding-top: 16px;
    padding-bottom: 20px;
    border-radius: 8px;
    /* transform: translateY(-63px); */
    margin-top: -63px;
    background: #fff;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
    box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
}
.package-box {
    position: relative;
    width: 25%;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 8px;
    margin: 0 14px;
    padding-top: 52px;
    padding-bottom: 54px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    transition: 0.8s;
}
.package-box:not(:last-child)::after {
    content: '';
    background: rgba(145, 153, 180, 0.3);
    display: flex;
    height: 342px;
    width: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -16px;
}
.package-circle {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #2D2EE0;
    margin-top: 21px;
    margin-bottom: 30px;
}
.package-box:nth-child(2) .package-circle {
    background: #EE2A7B;
}
.package-box:nth-child(3) .package-circle {
    background: #FCB618;
}
.package-box:nth-child(4) .package-circle {
    background: #9199B4;
}
.package-box h3 {
    padding: 0 15px;
}
.package-description {
    line-height: 28px;
    margin-bottom: 67px;
}
.package-box .btn {
    border: 1px solid #9199B4;
    border-radius: 8px;
    padding: 0 15px;
    min-width: 190px;
    margin-top: auto;
    transition: 0.6s;
}
.package-box > div:first-child {
    height: min-content;
}

.package-box > div:last-child {
    height: 100%;
}

@media(min-width: 1025px) {
    .package-box:hover {
        border-color: #292562;
        /* -webkit-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
        -moz-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
        box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1); */
    }
    .banner-links a:hover {
        text-decoration: underline;
    }
    .banner-button:hover {
        background: #fff;
        color: #292562;
    }
    .package-box .btn:hover {
        background: #292562;
        color: #fff;
        border-color: #292562;
        -webkit-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
        -moz-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
        box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
    }
}

@media(max-width: 1900px) {
    .package-box {
        padding-top: 36px;
        padding-bottom: 47px;
    }
}
@media(max-width: 1365px) {
    .head-banner .img-box {
        height: 433px;
    }
    .banner-content h2 {
        line-height: 35px;
    }
    .head-banner .banner-content {
        bottom: 165px;
    }
    .head-banner .banner-content h2, .head-banner .banner-button {
        margin-left: 45px;
    }
    .packages {
        /* transform: translateY(-113px); */
        margin-top: -113px;
    }
    .package-box .font-34 {
        font-size: 21px;
    }
    .package-box {
        padding-top: 10px;
        padding-bottom: 25px;
    }
    .package-box h3 {
        padding: 0;
    }
    .package-description {
        margin-bottom: 30px;
    }
    .package-box .btn {
        min-width: 140px;
    }

}
@media(max-width: 1023px) {
    .head-banner .img-box {
        height: 359px;
    }
    .head-banner .banner-content {
        top: 22px;
        bottom: 140px;
    }
    .head-banner .banner-content h2, .head-banner .banner-button {
        margin-left: 0px;
    }
    .banner-content h2 {
        line-height: 25px;
        /* margin-top: 0; */
    }
    .packages {
        /* transform: translateY(-80px); */
        flex-direction: column;
        margin-top: -80px;
        padding: 30px;
    }
    .package-box {
        width: 100%;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }
    .package-box > div:first-child {
        flex-direction: row-reverse;
        align-self: flex-start;
    }
    .package-circle {
        margin: 0;
        margin-right: 10px;
    }
    .package-box:not(:last-child)::after {
        display: none;
    }
    .package-box > div:last-child {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 21px;
    }
    .package-box:not(:last-child) {
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(145, 153, 180, 0.3);
        border-radius: 0;
    }
    .package-box:not(:first-child) {
        padding-top: 30px;
    }
    .package-box .font-34 {
        padding-top: 2px;
    }
    .package-box .btn {
        margin-top: 0;
        margin-left: 94px;
    }
    .package-description {
        text-align: start;
        margin-bottom: 0;
    }
    .banner-button {
        margin-top: 20px;
    }
}
@media(max-width: 767px) {
    nav.banner-links {
        display: none;
    }
    .head-banner .banner-content {
        bottom: 180px;
        top: auto;
    }
    .packages {
        /* transform: translateY(-150px); */
        margin-top: -150px;
    }
    .package-box > div:last-child {
        margin-top: 13px;
        flex-direction: column;
    }
    .package-box .btn {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
}


/* Provider Clinics Tabs */
.provider-clinics-description {
    line-height: 28px;
    max-width: 508px;
    margin: 0 auto;
}
.tabs {
    margin-top: 55px;
    margin-bottom: 52px;
}
.tab-link {
    cursor: pointer;
    border: 1px solid rgba(41, 37, 98, 0.7);
    padding: 0 15px;
}
.tab-link:first-child {
    margin-right: 20px;
}
.tab-content {
    display: none;
    opacity: 0;
    transition: 0.6s;
    animation: tabAnimation 1s;
}
.tab-link.current {
    background: #EE2A7B;
    border-color: #EE2A7B;
    color: #fff;
}
.tab-content.current {
    display: inherit;
    opacity: 1;
}

@keyframes tabAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.provider-img-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding-top: 45%; */
    height: 100%;
    min-height: 80px;

}
.provider-img {
    position: absolute;
    /* max-width: 100%;
    max-height: 100%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}
.provider-clinics-slider .swiper-slide {
    height: 200px;
    padding: 40px 30px;
    border-radius: 8px;
    background: #fff;
    border: 3px solid transparent;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
    box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
}
@media(min-width: 1025px) {
    .tab-link:hover {
        border-color: #EE2A7B;
    }
    .provider-clinics-slider .swiper-slide:hover {
        border-color: #292562;
        transition: 0.8s;
    }
}

@media(max-width: 1679px) {
    .provider-clinics-slider .swiper-slide {
        height: 178px;
    }
}
@media(max-width: 1365px) {
    .tabs {
        margin: 34px 0;
    }
    .tab-link {
        padding: 0 30px;
    }
    .provider-clinics-description {
        max-width: 422px;
        font-size: 13px;
        line-height: 20px;
        margin-top: 8px;
    }
    .provider-clinics-slider .swiper-slide {
        height: 143px;
    }
}

@media(max-width: 1023px) {
    .provider-clinics-description {
        margin-top: 5px;
    }
    .provider-clinics-slider .swiper-slide {
        height: 119px;
    }
}

@media(max-width: 767px) {
    .tab-link:first-child {
        margin-right: 15px;
    }
    .tab-link {
        padding: 0 10px;
    }
    .provider-clinics-slider  {
        overflow: visible;
    }
    .provider-clinics-slider .swiper-slide {
        height: 110px;
    }
}


/* Service Scheme */
.sevices-section {
    padding-top: 35px;
    padding-left: 30px;
    padding-bottom: 60px;
    padding-right: 40px;
    background: #fff;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
    box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
    border-radius: 8px;
}
.service-subtitle {
    margin-top: 10px;
}
.services-tabs {
    height: 50px;
    border: 1px solid #B1B7CA;
    border-radius: 8px;
    padding: 5px;
    margin: 30px 0;
    width: max-content;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
    box-shadow: 0px 10px 20px 0px rgba(0,153,255,0.1);
}
.tab-button {
    height: 40px;
    border-radius: 8px;
    color: rgba(145, 153, 180, 0.7);
    padding: 0 30px;
    cursor: pointer;
    transition: 0.6s;
}
.tab-button:first-child {
    margin-right: 5px;
}
.service-content {
    display: none;
    opacity: 0;
    transition: 0.6s;
    animation: tabAnimation 1s;
}
.tab-button.current {
    color: #fff;
    background: #EE2A7B;
}
.service-content.current {
    display: inherit;
    opacity: 1;
}
.service-box {
    margin-bottom: 28px;
}
.service-head {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(145, 153, 180, 0.2);
    cursor: pointer;
}
.service-description {
    padding-top: 18px;
    display: none;
}
.service-description.text {
    line-height: 30px;
}
.service-btn {
    border: 1px solid rgb(145, 153, 180);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
    box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
    width: max-content;
    padding: 0 40px;
    margin-top: 35px;
}
.service-head img {
    transition: 0.6s;
}
.service-box.active {
    margin-bottom: 40px;
}
.service-box.active .service-head img {
    transform: rotate(-180deg);
}

@media(min-width: 1025px) {
    .service-btn:hover {
        border-color: #EE2A7B;
    }
}

@media(max-width: 1679px) {
    .service-subtitle {
        margin-top: 5px;
    }
    .service-btn {
        margin-top: 30px;
    }
}
@media(max-width: 1365px) {
    .service-subtitle  {
        font-size: 13px;
    }
    .services-tabs {
        height: 40px;
    }
    .tab-button {
        height: 30px;
        font-size: 13px;
    }
    .sevices-section {
        padding-top: 25px;
        padding-right: 30px;
    }
    .service-name.font-21 {
        font-size: 16px;
    }
}

@media(max-width: 767px) {
    .sevices-section {
        padding: 0;
        background: transparent;
    }
    .service-subtitle {
        margin-top: 5px;
    }
    .services-tabs {
        width: 100%;
        margin-top: 20px;
    }
    .service-btn {
        margin-top: 20px;
    }
    .tab-button {
        padding: 0 10px;
        width: 50%;
    }
    .service-box.active {
        margin-bottom: 28px;
    }
}


/* Find agent */
.find-agent .component-content {
    width: 100%;
    text-align: left;
}
.find-agent .component-content h2, .find-agent .component-content p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.component-content .btn-white {
    width: max-content;
}
.find-agent .component-content {
    bottom: 172px;
}
.find-agent p {
    margin-top: 10px;
}


@media(max-width: 1679px) {
    .find-agent .component-content {
        bottom: 78px;
    }
}
@media(max-width: 1365px) {
    .find-agent .component-content {
        bottom: 70px;
    }
}
@media(max-width: 1023px) {
    .find-agent .component-content {
        bottom: 66px;
    }
    .find-agent .component-content .font-55 {
        font-size: 34px;
    }
}
@media(max-width: 767px) {
    .find-agent .component-content {
        bottom: 20px;
    }
    .find-agent .component-content .btn-white {
        width: 100%;
    }
    .find-agent .component-content .btn-white:first-child {
        margin-bottom: 0;
    }
    .find-agent p.font-21 {
        font-size: 16px;
    }
    .find-agent p {
        margin-top: 5px;
    }
}
