/* became member */
.became-member {
    position: relative;
}
.became-member .img-box {
    padding-top: 37.68%;
    transition: 1s;
}
.component-content {
    z-index: 2;
    bottom: 109px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.component-content h2 span {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.component-content .btn-white {
    padding: 0 20px;
    min-width: 190px;
}
.component-content .btn-white:first-child {
    margin-right: 18px;
}
.bottom-line {
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 32px 0;
    border-radius: 20px;
}

@media(max-width: 1900px) {
    .component-content {
        bottom: 90px;
    }
    .became-member .img-box {
        padding-top: 39.026%;
    }
}
@media(max-width: 1679px) {
    .became-member .img-box {
        padding-top: 45.755%;
    }
    .component-content {
        bottom: 78px;
    }
}
@media(max-width: 1365px) {
    .component-content {
        bottom: 59px;
    }
    .component-content .btn-white {
        min-width: 150px;
    }
    .component-content .btn-white:first-child {
        margin-right: 30px;
    }
    .bottom-line {
        margin-top: 18px;
    }
}
@media(max-width: 1023px) {
    .became-member .img-box {
        padding-top: 46.615%;
    }
    .component-content {
        bottom: 34px;
    }
    .component-content .btn-white:first-child {
        margin-right: 15px;
    }
    .bottom-line {
        margin-bottom: 24px;
    }
}
@media(max-width: 767px){
    .became-member .img-box {
        padding-top: 80%;
    }
    .component-btns {
        flex-direction: column;
    }
    .component-content .btn-white:first-child {
        margin-right: 0;
        margin-bottom: 14px;
    }
    .component-content h2 {
        width: 300px;
    }
}
@media(max-width: 500px){
    .became-member .img-box {
        padding-top: 132.5%;
    }
}


/* Faq Slider */
.faq-slider {
    margin-top: 37px;
}
.faq-slider.swiper-container {
    overflow: visible;
}
.faq-title::after {
    content: '';
    display: flex;
    width: 60px;
    height: 3px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 16px;
    background: #EE2A7B;
}
.slider-num {
    color: rgba(41, 37, 98, 0.1);
    line-height: 75px;
}
.faq-slider .swiper-slide {
    height: 180px;
    border-radius: 8px;
    padding-left: 60px;
    padding-top: 35px;
    padding-right: 15px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
    box-shadow: 0px 10px 30px 0px rgba(0,153,255,0.05);
    /* transition: 1.5s; */
}
.slider-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    transition: 0.6s;
}

.faq-slider .swiper-slide-next + a + a {
    opacity: 0.5;
    transition: 0.8s;
}
.faq-slider .swiper-slide-prev {
    opacity: 0.5;
    transition: 0.8s;
}

@media(min-width: 1025px) {
    .faq-slider .swiper-slide:hover {
        background: #FCB618;
        transition: 0.8s;
    }
    .faq-slider .swiper-slide:hover .slider-title {
        color: #fff;
    }
}

@media(max-width: 1679px) {
    .faq-slider.swiper-container {
        overflow: hidden;
    }
    .faq-slider .swiper-slide {
        padding-left: 38px;
        height: 160px;
    }
}
@media(max-width: 1365px) {
    .faq-slider .swiper-slide {
        padding-left: 38px;
        padding-top: 25px;
        height: 122px;
    }
    .slider-num {
        line-height: 50px;
    }
    .slider-title.font-21, .faq-subtitle.font-21 {
        font-size: 16px;
    }
}
@media(max-width: 1023px) {
    .faq-slider .swiper-slide {
        height: 100px;
        padding-top: 15px;
    }
    .slider-num {
        line-height: 45px;
    }
    .slider-title.font-21, .faq-subtitle.font-21 {
        font-size: 13px;
    }
}

@media(max-width: 767px) {
    /* .faq-slider.swiper-container {
        overflow: visible;
    } */
    .faq-slider .swiper-slide {
        padding-left: 20px;
        padding-top: 13px;
    }
}

/* Social Banner */

.social-banner {
    position: relative;
}
.social-banner .img-box {
    /* padding-top: 25.854%; */
    height: 492px;
}
.banner-content {
    position: absolute;
    bottom: 69px;
    left: 318px;
}
.banner-content h2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: 0.6s;
}
.banner-content .btn-white {
    margin-top: 40px;
    padding: 0 20px;
    min-width: 190px;
    width: max-content;
}

@media(max-width: 1900px) {
    .banner-content {
        left: 192px;
        bottom: 79px;
    }
}
@media(max-width: 1679px) {
    .banner-content {
        left: 101px;
    }
}
@media(max-width: 1365px) {
    .banner-content {
        left: 71px;
        bottom: 46px;
    }
    .social-banner .img-box {
        height: 379px;
    }
    .banner-content .btn-white {
        min-width: 150px;
    }
}
@media(max-width: 1023px) {
    .banner-content {
        left: 32px;
        bottom: 55px;
    }
    .social-banner .img-box {
        height: 358px;
    }
}
@media(max-width: 767px) {
    .banner-content {
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        bottom: 45px;
    }
    .social-banner .img-box {
        height: 382px;
    }
    .banner-content .btn-white {
        margin-top: 25px;
    }
}
